In [24]:
import pandas as pd
import numpy as np
import os

In [55]:

# Team list dataset
master_team_list = 'master_team_list.csv'

#File path of player based stats
file_path_16_17 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2016-17\gws\merged_gw.csv'
file_path_17_18 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2017-18\gws\merged_gw.csv'
file_path_18_19 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2018-19\gws\merged_gw.csv'
file_path_19_20 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2019-20\gws\merged_gw.csv'
file_path_20_21 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2020-21\gws\merged_gw.csv'
file_path_21_22 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2021-22\gws\merged_gw.csv'
file_path_22_23 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2022-23\gws\merged_gw.csv'
file_path_23_24 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2023-24\gws\merged_gw.csv'

#File path for player team name
file_path_16_17_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2016-17\players_raw.csv'
file_path_17_18_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2017-18\players_raw.csv'
file_path_18_19_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2018-19\players_raw.csv'
file_path_19_20_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2019-20\players_raw.csv'
file_path_20_21_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2020-21\players_raw.csv'
file_path_21_22_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2021-22\players_raw.csv'
file_path_22_23_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2022-23\players_raw.csv'
file_path_23_24_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2023-24\players_raw.csv'


df_16_17 = pd.read_csv(file_path_16_17, encoding='latin1')
df_16_17['season_x'] = '2016-17'
df_17_18 = pd.read_csv(file_path_17_18, encoding='latin1')
df_17_18['season_x'] = '2017-18'
df_18_19 = pd.read_csv(file_path_18_19, encoding='latin1')
df_18_19['season_x'] = '2018-19'
df_19_20 = pd.read_csv(file_path_19_20, encoding='latin1')
df_19_20['season_x'] = '2019-20'
df_20_21 = pd.read_csv(file_path_20_21, encoding='latin1')
df_20_21['season_x'] = '2020-21'
df_21_22 = pd.read_csv(file_path_21_22, encoding='latin1')
df_21_22['season_x'] = '2021-22'
df_22_23 = pd.read_csv(file_path_22_23, encoding='latin1')
df_22_23['season_x'] = '2022-23'
df_23_24 = pd.read_csv(file_path_23_24, encoding='latin1')
df_23_24['season_x'] = '2023-24'


df_16_17_raw = pd.read_csv(file_path_16_17_raw, encoding='latin1')
df_16_17_raw['season_x'] = '2016-17'
df_17_18_raw = pd.read_csv(file_path_17_18_raw, encoding='latin1')
df_17_18_raw['season_x'] = '2017-18'
df_18_19_raw = pd.read_csv(file_path_18_19_raw, encoding='latin1')
df_18_19_raw['season_x'] = '2018-19'
df_19_20_raw = pd.read_csv(file_path_19_20_raw, encoding='latin1')
df_19_20_raw['season_x'] = '2019-20'
df_19_20_raw = pd.read_csv(file_path_20_21_raw, encoding='latin1')
df_19_20_raw['season_x'] = '2020-21'
df_19_20_raw = pd.read_csv(file_path_21_22_raw, encoding='latin1')
df_19_20_raw['season_x'] = '2021-22'
df_19_20_raw = pd.read_csv(file_path_22_23_raw, encoding='latin1')
df_19_20_raw['season_x'] = '2022-23'
df_19_20_raw = pd.read_csv(file_path_23_24_raw, encoding='latin1')
df_19_20_raw['season_x'] = '2023-24'

In [56]:
df_2016_20 = pd.concat([df_16_17,df_17_18, df_18_19, df_19_20])
df_2016_20_raw = pd.concat([df_16_17_raw, df_17_18_raw, df_18_19_raw, df_19_20_raw])

In [57]:
df_2016_20_raw['name'] = df_2016_20_raw['first_name'] + " " + df_2016_20_raw['second_name']

In [58]:
df_2016_20_raw_new = df_2016_20_raw[['season_x', 'name', 'team']]
df_2016_20_raw_new['team']

0       1
1       1
2       1
3       1
4       1
       ..
833    20
834    20
835    20
836    20
837    20
Name: team, Length: 2792, dtype: int64

In [59]:
#Importing team list

df_master_team_list = pd.read_csv('Data\data\master_team_list.csv')

In [60]:
df_master_team_list.head()

    season  team       team_name
0  2016-17     1         Arsenal
1  2016-17     2     Bournemouth
2  2016-17     3         Burnley
3  2016-17     4         Chelsea
4  2016-17     5  Crystal Palace

In [62]:
# Mapping the team name using team code
df_2016_20_raw_new.reset_index(inplace=True)
df_master_team_list.reset_index(inplace=True)

df_2016_20_raw_new.loc[:, 'id'] = df_2016_20_raw_new['season_x'] + df_2016_20_raw_new['team'].astype(str)
df_master_team_list.loc[:, 'id'] = df_master_team_list['season'] + df_master_team_list['team'].astype(str)

In [63]:
df_master_team_list['id']

0       2016-171
1       2016-172
2       2016-173
3       2016-174
4       2016-175
         ...
135    2022-2316
136    2022-2317
137    2022-2318
138    2022-2319
139    2022-2320
Name: id, Length: 140, dtype: object

In [64]:
removeing_season = ['2020-21', '2021-22','2022-23', '2023-24']
filt = df_master_team_list['season'].isin(removeing_season)
df_master_team_list.drop(index=df_master_team_list[filt].index)

    level_0  index   season  team       team_name         id
0         0      0  2016-17     1         Arsenal   2016-171
1         1      1  2016-17     2     Bournemouth   2016-172
2         2      2  2016-17     3         Burnley   2016-173
3         3      3  2016-17     4         Chelsea   2016-174
4         4      4  2016-17     5  Crystal Palace   2016-175
..      ...    ...      ...   ...             ...        ...
75       75     75  2019-20    16     Southampton  2019-2016
76       76     76  2019-20    17           Spurs  2019-2017
77       77     77  2019-20    18         Watford  2019-2018
78       78     78  2019-20    19        West Ham  2019-2019
79       79     79  2019-20    20          Wolves  2019-2020

[80 rows x 6 columns]

In [65]:

#mapping the team name using team_id
df_player_team_name = pd.merge(df_2016_20_raw_new, df_master_team_list, on = 'id', how='left')

In [66]:
df_player_team_name

,level_0_x,index_x,season_x,name,team_x,id,level_0_y,index_y,season,team_y,team_name
0,0,0,2016-17,David Ospina,1,2016-171,0.0,0.0,2016-17,1.0,Arsenal
1,1,1,2016-17,Petr Cech,1,2016-171,0.0,0.0,2016-17,1.0,Arsenal
2,2,2,2016-17,Laurent Koscielny,1,2016-171,0.0,0.0,2016-17,1.0,Arsenal
3,3,3,2016-17,Per Mertesacker,1,2016-171,0.0,0.0,2016-17,1.0,Arsenal
4,4,4,2016-17,Gabriel Armando de Abreu,1,2016-171,0.0,0.0,2016-17,1.0,Arsenal
...,...,...,...,...,...,...,...,...,...,...,...
2787,2787,833,2023-24,Harvey Griffiths,20,2023-2420,NaN,NaN,NaN,NaN,NaN
2788,2788,834,2023-24,Yerson Mosquera,20,2023-2420,NaN,NaN,NaN,NaN,NaN
2789,2789,835,2023-24,Noha Lemina,20,2023-2420,NaN,NaN,NaN,NaN,NaN
2790,2790,836,2023-24,Wesley Okoduwa,20,2023-2420,NaN,NaN,NaN,NaN,NaN
2791,2791,837,2023-24,Leon Chiwome,20,2023-2420,NaN,NaN,NaN,NaN,NaN

In [67]:
df_player_team_name = df_player_team_name[['season_x', 'name', 'team_name']]

In [68]:
df_player_team_name.head

<bound method NDFrame.head of      season_x                      name team_name
0     2016-17              David Ospina   Arsenal
1     2016-17                 Petr Cech   Arsenal
2     2016-17         Laurent Koscielny   Arsenal
3     2016-17           Per Mertesacker   Arsenal
4     2016-17  Gabriel Armando de Abreu   Arsenal
...       ...                       ...       ...
2787  2023-24          Harvey Griffiths       NaN
2788  2023-24           Yerson Mosquera       NaN
2789  2023-24               Noha Lemina       NaN
2790  2023-24            Wesley Okoduwa       NaN
2791  2023-24              Leon Chiwome       NaN

[2792 rows x 3 columns]>

In [69]:
df_2016_20['name'].head

<bound method NDFrame.head of 0               Aaron_Cresswell
1                  Aaron_Lennon
2                  Aaron_Ramsey
3            Abdoulaye_Doucouré
4             Abdul Rahman_Baba
                  ...
22555       Youri_Tielemans_448
22556          Yves_Bissouma_53
22557           Zech_Medley_636
22558    Ãaglar_SÃ¶yÃ¼ncÃ¼_164
22559          Ãrjan_Nyland_27
Name: name, Length: 90496, dtype: object>

In [15]:
# Function to remove the _ and number to tally with player_name from Player_team_table
def strip_number(name):
    name = name.str.replace(r'\d+', "")
    name = name.str.replace("_", " ")
    name = name.str.strip()
    return name

In [70]:
import re

df_2016_20['name'] = df_2016_20['name'].apply(lambda x: re.sub(r'\s\d+$', '', x))
df_2016_20['name'] = df_2016_20['name'].str.replace("_", " ")
df_2016_20['name'] = df_2016_20['name'].str.strip()

In [71]:
df_2016_20.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'bonus', 'bps', 'clean_sheets',
       'clearances_blocks_interceptions', 'completed_passes', 'creativity',
       'dribbles', 'ea_index', 'element', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded',
       'goals_scored', 'ict_index', 'id', 'influence', 'key_passes',
       'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out',
       'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals',
       'penalties_conceded', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled',
       'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'winning_goals', 'yellow_cards', 'GW', 'season_x'],
      dtype='object')

In [72]:
df_2016_20[['name', 'season_x']]

                         name season_x
0             Aaron Cresswell  2016-17
1                Aaron Lennon  2016-17
2                Aaron Ramsey  2016-17
3          Abdoulaye Doucouré  2016-17
4           Abdul Rahman Baba  2016-17
...                       ...      ...
22555     Youri Tielemans 448  2019-20
22556        Yves Bissouma 53  2019-20
22557         Zech Medley 636  2019-20
22558  Ãaglar SÃ¶yÃ¼ncÃ¼ 164  2019-20
22559        Ãrjan Nyland 27  2019-20

[90496 rows x 2 columns]

In [74]:
# Creating the ID by joining the season_x and player_name to extract the team name
df_player_team_name.reset_index(inplace=True)
df_2016_20.reset_index(inplace=True)

df_player_team_name.loc[:, 'sid'] = df_player_team_name['season_x'] + df_player_team_name['name']
df_2016_20.loc[:, 'sid'] = df_2016_20['season_x'] + df_2016_20['name']

In [75]:
df_player_team_name['sid']

0                   2016-17David Ospina
1                      2016-17Petr Cech
2              2016-17Laurent Koscielny
3                2016-17Per Mertesacker
4       2016-17Gabriel Armando de Abreu
                     ...
2787            2023-24Harvey Griffiths
2788             2023-24Yerson Mosquera
2789                 2023-24Noha Lemina
2790              2023-24Wesley Okoduwa
2791                2023-24Leon Chiwome
Name: sid, Length: 2792, dtype: object

In [76]:
df_player_team_name.head()

,index,season_x,name,team_name,sid
0,0,2016-17,David Ospina,Arsenal,2016-17David Ospina
1,1,2016-17,Petr Cech,Arsenal,2016-17Petr Cech
2,2,2016-17,Laurent Koscielny,Arsenal,2016-17Laurent Koscielny
3,3,2016-17,Per Mertesacker,Arsenal,2016-17Per Mertesacker
4,4,2016-17,Gabriel Armando de Abreu,Arsenal,2016-17Gabriel Armando de Abreu

In [77]:
df_2016_20[['sid', 'name', 'season_x']]

                                 sid                    name season_x
0             2016-17Aaron Cresswell         Aaron Cresswell  2016-17
1                2016-17Aaron Lennon            Aaron Lennon  2016-17
2                2016-17Aaron Ramsey            Aaron Ramsey  2016-17
3          2016-17Abdoulaye Doucouré      Abdoulaye Doucouré  2016-17
4           2016-17Abdul Rahman Baba       Abdul Rahman Baba  2016-17
...                              ...                     ...      ...
90491     2019-20Youri Tielemans 448     Youri Tielemans 448  2019-20
90492        2019-20Yves Bissouma 53        Yves Bissouma 53  2019-20
90493         2019-20Zech Medley 636         Zech Medley 636  2019-20
90494  2019-20Ãaglar SÃ¶yÃ¼ncÃ¼ 164  Ãaglar SÃ¶yÃ¼ncÃ¼ 164  2019-20
90495        2019-20Ãrjan Nyland 27        Ãrjan Nyland 27  2019-20

[90496 rows x 3 columns]

In [78]:
df_2016_20_final = pd.merge(df_2016_20, df_player_team_name, on='sid', how='left')
df_2016_20_final

,index_x,name_x,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,clearances_blocks_interceptions,...,was_home,winning_goals,yellow_cards,GW,season_x_x,sid,index_y,season_x_y,name_y,team_name
0,0,Aaron Cresswell,0,0.0,0.0,0.0,0,0,0,0.0,...,False,0.0,0,1,2016-17,2016-17Aaron Cresswell,453.0,2016-17,Aaron Cresswell,West Ham
1,1,Aaron Lennon,0,3.0,0.0,0.0,0,6,0,1.0,...,True,0.0,0,1,2016-17,2016-17Aaron Lennon,141.0,2016-17,Aaron Lennon,Everton
2,2,Aaron Ramsey,0,26.0,0.0,0.0,0,5,0,2.0,...,True,0.0,0,1,2016-17,2016-17Aaron Ramsey,15.0,2016-17,Aaron Ramsey,Arsenal
3,3,Abdoulaye Doucouré,0,0.0,0.0,0.0,0,0,0,0.0,...,False,0.0,0,1,2016-17,2016-17Abdoulaye Doucouré,NaN,NaN,NaN,NaN
4,4,Abdul Rahman Baba,0,0.0,0.0,0.0,0,0,0,0.0,...,True,0.0,0,1,2016-17,2016-17Abdul Rahman Baba,79.0,2016-17,Abdul Rahman Baba,Chelsea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90491,22555,Youri Tielemans 448,0,NaN,NaN,NaN,0,11,0,NaN,...,True,NaN,0,47,2019-20,2019-20Youri Tielemans 448,NaN,NaN,NaN,NaN
90492,22556,Yves Bissouma 53,0,NaN,NaN,NaN,0,22,0,NaN,...,False,NaN,0,47,2019-20,2019-20Yves Bissouma 53,NaN,NaN,NaN,NaN
90493,22557,Zech Medley 636,0,NaN,NaN,NaN,0,0,0,NaN,...,True,NaN,0,47,2019-20,2019-20Zech Medley 636,NaN,NaN,NaN,NaN
90494,22558,Ãaglar SÃ¶yÃ¼ncÃ¼ 164,0,NaN,NaN,NaN,0,0,0,NaN,...,True,NaN,0,47,2019-20,2019-20Ãaglar SÃ¶yÃ¼ncÃ¼ 164,NaN,NaN,NaN,NaN
90495,22559,Ãrjan Nyland 27,0,NaN,NaN,NaN,0,0,0,NaN,...,False,NaN,0,47,2019-20,2019-20Ãrjan Nyland 27,NaN,NaN,NaN,NaN

In [79]:
df_2016_20_final[['team_name', 'name_x']]

      team_name                  name_x
0      West Ham         Aaron Cresswell
1       Everton            Aaron Lennon
2       Arsenal            Aaron Ramsey
3           NaN      Abdoulaye Doucouré
4       Chelsea       Abdul Rahman Baba
...         ...                     ...
90491       NaN     Youri Tielemans 448
90492       NaN        Yves Bissouma 53
90493       NaN         Zech Medley 636
90494       NaN  Ãaglar SÃ¶yÃ¼ncÃ¼ 164
90495       NaN        Ãrjan Nyland 27

[90496 rows x 2 columns]

In [81]:
df_2016_20_final.columns

Index(['index_x', 'name_x', 'assists', 'attempted_passes',
       'big_chances_created', 'big_chances_missed', 'bonus', 'bps',
       'clean_sheets', 'clearances_blocks_interceptions', 'completed_passes',
       'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fixture',
       'fouls', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'influence', 'key_passes', 'kickoff_time', 'kickoff_time_formatted',
       'loaned_in', 'loaned_out', 'minutes', 'offside', 'open_play_crosses',
       'opponent_team', 'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'recoveries', 'red_cards', 'round', 'saves',
       'selected', 'tackled', 'tackles', 'target_missed', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'winning_goals',
       'yellow_cards', 'GW', 'season_x_x', 'sid', 'index_y', 'season_x_y',
       'name_y', 'team_name'],
      dtype='object')

In [82]:
columns_to_drop = ['index_x', 'bonus', 'bps', 'fixture', 'id', 'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out', 'offside', 'recoveries', 'round', 'selected', 'selected', 'transfers_balance', 'transfers_in', 'transfers_out', 'value', "sid", 'season_x_y', 'name_y']
df_2016_20_final.drop(columns=columns_to_drop, inplace=True)

In [83]:
df_2016_20_final.columns

Index(['name_x', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x_x', 'index_y', 'team_name'],
      dtype='object')

In [84]:
df_2016_20_final.rename(columns={'name_x': 'name', 'team_name': 'team', 'season_x_x':'season_x'}, inplace= True)

In [85]:
df_2020_24 = pd.concat([df_20_21, df_21_22, df_22_23, df_23_24])
df_2020_24.loc[df_2020_24['assists'] == 1, ['assists','expected_assists']]

       assists  expected_assists
28           1               NaN
30           1               NaN
84           1               NaN
103          1               NaN
121          1               NaN
...        ...               ...
20389        1              0.44
20390        1              0.05
20395        1              0.01
20417        1              0.01
20423        1              0.05

[2983 rows x 2 columns]

In [86]:
df_2016_20_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team'],
      dtype='object')

In [87]:
df_final = pd.concat([df_2016_20_final, df_2020_24])
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team', 'position', 'xP', 'bonus', 'bps',
       'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts'],
      dtype='object')

In [ ]:
df_final.to_csv('df_final')

In [88]:
df_final.sort_values(by=['season_x', 'GW'], ascending= True)
df_final[['season_x', 'GW', 'name', 'team', 'opponent_team']]

# Extracting the team name of opp team using team_code from master_team_list csv
df_master_team_list_new = pd.read_csv('Data\data\master_team_list.csv')
df_master_team_list_new.columns

# creating the ID to merge the team name and team code
df_master_team_list_new.rename(columns={'team_name': 'Opp_team_name'})
df_final.loc[:, 'id'] = df_final['season_x'] + df_final['opponent_team'].astype(str)
df_master_team_list_new.loc[:, 'id'] = df_master_team_list_new['season'] + df_master_team_list_new['team'].astype(str)

In [91]:
df_final = pd.merge(df_final, df_master_team_list, on='id', how='left')
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team_x', 'position', 'xP', 'bonus', 'bps',
       'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts', 'id', 'level_0', 'index', 'season',
       'team_y', 'team_name'],
      dtype='object')

In [92]:
df_final[['name','team_name','team_y', 'team_x','team_name']]

,name,team_name,team_y,team_x,team_name
0,Aaron Cresswell,Chelsea,4.0,West Ham,Chelsea
1,Aaron Lennon,Spurs,17.0,Everton,Spurs
2,Aaron Ramsey,Liverpool,9.0,Arsenal,Liverpool
3,Abdoulaye Doucouré,Southampton,13.0,NaN,Southampton
4,Abdul Rahman Baba,West Ham,20.0,Chelsea,West Ham
...,...,...,...,...,...
187242,Jacob Brown,NaN,NaN,Luton,NaN
187243,Jacob Brown,NaN,NaN,Luton,NaN
187244,Vicente Guaita,NaN,NaN,Crystal Palace,NaN
187245,Braian Ojeda RodrÃ­guez,NaN,NaN,Nott'm Forest,NaN
187246,Mads Bech SÃ¸rensen,NaN,NaN,Brentford,NaN

In [93]:
df_final.rename(columns={'team_name': 'Opp_team_name', 'team_x': 'team'}, inplace=True)

In [94]:
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team', 'position', 'xP', 'bonus', 'bps',
       'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts', 'id', 'level_0', 'index', 'season',
       'team_y', 'Opp_team_name'],
      dtype='object')

In [95]:
df_final[['Opp_team_name', 'team']]

       Opp_team_name            team
0            Chelsea        West Ham
1              Spurs         Everton
2          Liverpool         Arsenal
3        Southampton             NaN
4           West Ham         Chelsea
...              ...             ...
187242           NaN           Luton
187243           NaN           Luton
187244           NaN  Crystal Palace
187245           NaN   Nott'm Forest
187246           NaN       Brentford

[187247 rows x 2 columns]

In [96]:
def match_column(row):
    if row['was_home'] == True:
        return str(row['team']) + "-vs-" + str(row['Opp_team_name'])
    else:
        return str(row['Opp_team_name']) + '-vs-' + str(row['team'])
    
df_final['Match'] = df_final.apply(match_column, axis = 1 )
df_final['Match']

0           Chelsea-vs-West Ham
1              Everton-vs-Spurs
2          Arsenal-vs-Liverpool
3            Southampton-vs-nan
4           Chelsea-vs-West Ham
                  ...
187242             nan-vs-Luton
187243             nan-vs-Luton
187244    Crystal Palace-vs-nan
187245     nan-vs-Nott'm Forest
187246         nan-vs-Brentford
Name: Match, Length: 187247, dtype: object

In [97]:
df_final[['Match', 'team', 'Opp_team_name', 'was_home']].head(60)

                          Match            team Opp_team_name  was_home
0           Chelsea-vs-West Ham        West Ham       Chelsea     False
1              Everton-vs-Spurs         Everton         Spurs      True
2          Arsenal-vs-Liverpool         Arsenal     Liverpool      True
3            Southampton-vs-nan             NaN   Southampton     False
4           Chelsea-vs-West Ham         Chelsea      West Ham      True
5              nan-vs-Leicester             NaN     Leicester      True
6             Hull-vs-Leicester            Hull     Leicester      True
7        Middlesbrough-vs-Stoke   Middlesbrough         Stoke      True
8        Bournemouth-vs-Man Utd     Bournemouth       Man Utd      True
9        Middlesbrough-vs-Stoke   Middlesbrough         Stoke      True
10         Arsenal-vs-Liverpool       Liverpool       Arsenal     False
11       Man City-vs-Sunderland      Sunderland      Man City     False
12       Middlesbrough-vs-Stoke   Middlesbrough         Stoke      True
13       Bournemouth-vs-Man Utd     Bournemouth       Man Utd      True
14           Southampton-vs-nan             NaN   Southampton     False
15       Man City-vs-Sunderland      Sunderland      Man City     False
16               Chelsea-vs-nan             NaN       Chelsea     False
17            Hull-vs-Leicester            Hull     Leicester      True
18            Hull-vs-Leicester       Leicester          Hull     False
19         Arsenal-vs-Liverpool       Liverpool       Arsenal     False
20       Middlesbrough-vs-Stoke   Middlesbrough         Stoke      True
21       Man City-vs-Sunderland        Man City    Sunderland      True
22         Arsenal-vs-Liverpool       Liverpool       Arsenal     False
23             nan-vs-Liverpool             NaN     Liverpool      True
24       Middlesbrough-vs-Stoke   Middlesbrough         Stoke      True
25            Hull-vs-Leicester            Hull     Leicester      True
26         Arsenal-vs-Liverpool         Arsenal     Liverpool      True
27       Southampton-vs-Watford     Southampton       Watford      True
28         Arsenal-vs-Liverpool         Arsenal     Liverpool      True
29             Everton-vs-Spurs           Spurs       Everton     False
30           Southampton-vs-nan             NaN   Southampton     False
31            Hull-vs-Leicester            Hull     Leicester      True
32       Southampton-vs-Watford         Watford   Southampton     False
33       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False
34       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False
35            Hull-vs-Leicester            Hull     Leicester      True
36       Bournemouth-vs-Man Utd     Bournemouth       Man Utd      True
37           Burnley-vs-Swansea         Burnley       Swansea      True
38  Crystal Palace-vs-West Brom  Crystal Palace     West Brom      True
39               Chelsea-vs-nan             NaN       Chelsea     False
40          Chelsea-vs-West Ham        West Ham       Chelsea     False
41            Hull-vs-Leicester       Leicester          Hull     False
42          Chelsea-vs-West Ham        West Ham       Chelsea     False
43           Burnley-vs-Swansea         Swansea       Burnley     False
44       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False
45                 nan-vs-Stoke             NaN         Stoke      True
46       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False
47                 nan-vs-Spurs             NaN         Spurs      True
48          Chelsea-vs-West Ham        West Ham       Chelsea     False
49       Bournemouth-vs-Man Utd     Bournemouth       Man Utd      True
50           Burnley-vs-Swansea         Burnley       Swansea      True
51             Everton-vs-Spurs         Everton         Spurs      True
52       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False
53          Chelsea-vs-West Ham         Chelsea      West Ham      True
54       Man City-vs-Sunderland        Man City    Sunderland      True
55               Burnley-vs-nan             NaN       Burnley     False
56  Crystal Palace-vs-West Brom  Crystal Palace     West Brom      True
57             Everton-vs-Spurs           Spurs       Everton     False
58            Hull-vs-Leicester       Leicester          Hull     False
59       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False

In [98]:
filt = (df_final['Match'] == 'Chelsea-vs-West Ham') & (df_final['season_x'] == '2016-17')
col = ['name', 'team', 'Opp_team_name']
df_final.loc[filt, col].head(100)

                                   name      team Opp_team_name
0                       Aaron Cresswell  West Ham       Chelsea
4                     Abdul Rahman Baba   Chelsea      West Ham
40                         Andy Carroll  West Ham       Chelsea
42                       Angelo Ogbonna  West Ham       Chelsea
48                       Arthur Masuaku  West Ham       Chelsea
53                        Asmir Begovic   Chelsea      West Ham
68                      Bertrand Traore   Chelsea      West Ham
75                   Branislav Ivanovic   Chelsea      West Ham
130                     Darren Randolph  West Ham       Chelsea
142                        Diafra Sakho  West Ham       Chelsea
143                Diego Da Silva Costa   Chelsea      West Ham
145                       Dimitri Payet  West Ham       Chelsea
152                         Eden Hazard   Chelsea      West Ham
180                         Gary Cahill   Chelsea      West Ham
224                       James Collins  West Ham       Chelsea
258                      John Obi Mikel   Chelsea      West Ham
261                          John Terry   Chelsea      West Ham
282                         Josh Cullen  West Ham       Chelsea
286                       Juan Cuadrado   Chelsea      West Ham
304                          Kurt Zouma   Chelsea      West Ham
332                      Manuel Lanzini  West Ham       Chelsea
335                    Marco Van Ginkel   Chelsea      West Ham
345                          Mark Noble  West Ham       Chelsea
356                         Matt Miazga   Chelsea      West Ham
367                     Michail Antonio  West Ham       Chelsea
369                     Michy Batshuayi   Chelsea      West Ham
390                       Nemanja Matic   Chelsea      West Ham
396                            Ola Aina   Chelsea      West Ham
401     Oscar dos Santos Emboaba Junior   Chelsea      West Ham
412                        Pedro Obiang  West Ham       Chelsea
427                        Reece Oxford  West Ham       Chelsea
431   Robert Kenedy Nunes do Nascimento   Chelsea      West Ham
440                  Ruben Loftus-Cheek   Chelsea      West Ham
448                           Sam Byram  West Ham       Chelsea
468                    Sofiane Feghouli  West Ham       Chelsea
483                    Thibaut Courtois   Chelsea      West Ham
498                        Victor Moses   Chelsea      West Ham
513             Willian Borges Da Silva   Chelsea      West Ham
515                        Winston Reid  West Ham       Chelsea
8930                   Robert Snodgrass  West Ham       Chelsea

In [99]:

df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team', 'position', 'xP', 'bonus', 'bps',
       'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts', 'id', 'level_0', 'index', 'season',
       'team_y', 'Opp_team_name', 'Match'],
      dtype='object')

In [100]:
def winner(row):
    if row['team_a_score'] < row['team_h_score']:
        return str('H')
    elif row['team_a_score'] > row['team_h_score']:
        return str('A')
    else:
        return str("D")
    
df_final['Winner'] = df_final.apply(winner, axis=1)
df_final['Winner']

0         H
1         D
2         A
3         D
4         H
         ..
187242    D
187243    H
187244    D
187245    H
187246    H
Name: Winner, Length: 187247, dtype: object

In [101]:
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team', 'position', 'xP', 'bonus', 'bps',
       'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts', 'id', 'level_0', 'index', 'season',
       'team_y', 'Opp_team_name', 'Match', 'Winner'],
      dtype='object')

In [102]:
columns_to_drop = ['red_cards', 'tackled', 'saves', 'total_points', 'yellow_cards', 'position', 'xP', 'bonus', 'bps', 'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance', 'transfers_in', 'transfers_out', 'value', 'starts', 'id', 'season', 'team_y']
df_final.drop(columns=columns_to_drop, inplace=True)

In [103]:
def expected_goal_involvements(row):
     if pd.isnull(row['expected_goal_involvements']):
         return ((row['goals_scored'] + row['target_missed']))
     else:
         return row['expected_goal_involvements']
     
def expected_goals(row):
    if pd.isnull(row['expected_goals']):
        return row['goals_scored']
    else: 
        return row['expected_goals']
    
def expected_goals_conceded(row):
    if pd.isnull(row['expected_goals_conceded']):
        if row['goals_conceded'] == 0:
            return row['goals_conceded'] + row['errors_leading_to_goal']
        else:
            return ((row['goals_conceded'] + row['errors_leading_to_goal']) / row['goals_conceded'])
    else:
        return row['expected_goals_conceded']

def expected_assists(row):
    if pd.isnull(row['expected_assists']):
        if ((row['key_passes'] + row['big_chances_missed']) + (row['open_play_crosses'])) != 0:
            assist = (row['assists'] + (row['key_passes'] + row['big_chances_missed']) + (row['open_play_crosses'])) / ((row['key_passes'] + row['big_chances_missed']) + (row['open_play_crosses']))
            return assist
        else:
            return (row['assists'] + (row['key_passes'] + row['big_chances_missed']) + (row['open_play_crosses']))
    else:
        return row['expected_assists']

    
df_final['expected_assists'] = df_final.apply(expected_assists, axis= 1)
df_final['expected_goals_conceded'] = df_final.apply(expected_goals_conceded, axis=1)
df_final['expected_goals'] = df_final.apply(expected_goals, axis= 1)
df_final['expected_goal_involvements'] =df_final.apply(expected_goal_involvements, axis= 1)

In [104]:
# Identify categorical columns
categorical_columns = df_final.select_dtypes(include=['object']).columns

# Backfill missing values in categorical columns with same player's data
df_final[categorical_columns] = df_final.groupby('name')[categorical_columns].transform(lambda x: x.bfill())

# Now, numerical columns can be backfilled normally
df_final = df_final.fillna(method='bfill')

# Verify the result
print(df_final.head())

C:\Users\subas\AppData\Local\Temp\ipykernel_20700\3721865285.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_final = df_final.fillna(method='bfill')

                 name  assists  attempted_passes  big_chances_created  \
0     Aaron Cresswell        0               0.0                  0.0
1        Aaron Lennon        0               3.0                  0.0
2        Aaron Ramsey        0              26.0                  0.0
3  Abdoulaye Doucouré        0               0.0                  0.0
4   Abdul Rahman Baba        0               0.0                  0.0

   big_chances_missed  clean_sheets  clearances_blocks_interceptions  \
0                 0.0             0                              0.0
1                 0.0             0                              1.0
2                 0.0             0                              2.0
3                 0.0             0                              0.0
4                 0.0             0                              0.0

   completed_passes  creativity  dribbles  ...      team  expected_assists  \
0               0.0         0.0       0.0  ...  West Ham               0.0
1               2.0         0.3       0.0  ...   Everton               0.0
2              22.0         4.9       1.0  ...   Arsenal               0.0
3               0.0         0.0       0.0  ...   Chelsea               0.0
4               0.0         0.0       0.0  ...   Chelsea               0.0

   expected_goal_involvements  expected_goals  expected_goals_conceded  \
0                         0.0             0.0                      0.0
1                         0.0             0.0                      0.0
2                         1.0             0.0                      1.0
3                         0.0             0.0                      0.0
4                         0.0             0.0                      0.0

   level_0  index  Opp_team_name                 Match  Winner
0      3.0    3.0        Chelsea   Chelsea-vs-West Ham       H
1     16.0   16.0          Spurs      Everton-vs-Spurs       D
2      8.0    8.0      Liverpool  Arsenal-vs-Liverpool       A
3     12.0   12.0    Southampton    Southampton-vs-nan       D
4     19.0   19.0       West Ham   Chelsea-vs-West Ham       H

[5 rows x 47 columns]

In [105]:
# Identify numerical columns and filling the value with the average of same
numerical_columns = df_final.select_dtypes(include=['float64', 'int64']).columns

df_final[categorical_columns] = df_final.groupby('name')[categorical_columns].transform(lambda x: x.bfill())


df_final[numerical_columns] = df_final.groupby('name')[numerical_columns].transform(lambda x: x.fillna(x.mean()))

df_final.head()

                 name  assists  attempted_passes  big_chances_created  \
0     Aaron Cresswell        0               0.0                  0.0
1        Aaron Lennon        0               3.0                  0.0
2        Aaron Ramsey        0              26.0                  0.0
3  Abdoulaye Doucouré        0               0.0                  0.0
4   Abdul Rahman Baba        0               0.0                  0.0

   big_chances_missed  clean_sheets  clearances_blocks_interceptions  \
0                 0.0             0                              0.0
1                 0.0             0                              1.0
2                 0.0             0                              2.0
3                 0.0             0                              0.0
4                 0.0             0                              0.0

   completed_passes  creativity  dribbles  ...      team  expected_assists  \
0               0.0         0.0       0.0  ...  West Ham               0.0
1               2.0         0.3       0.0  ...   Everton               0.0
2              22.0         4.9       1.0  ...   Arsenal               0.0
3               0.0         0.0       0.0  ...   Chelsea               0.0
4               0.0         0.0       0.0  ...   Chelsea               0.0

   expected_goal_involvements  expected_goals  expected_goals_conceded  \
0                         0.0             0.0                      0.0
1                         0.0             0.0                      0.0
2                         1.0             0.0                      1.0
3                         0.0             0.0                      0.0
4                         0.0             0.0                      0.0

   level_0  index  Opp_team_name                 Match  Winner
0      3.0    3.0        Chelsea   Chelsea-vs-West Ham       H
1     16.0   16.0          Spurs      Everton-vs-Spurs       D
2      8.0    8.0      Liverpool  Arsenal-vs-Liverpool       A
3     12.0   12.0    Southampton    Southampton-vs-nan       D
4     19.0   19.0       West Ham   Chelsea-vs-West Ham       H

[5 rows x 47 columns]

In [106]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187247 entries, 0 to 187246
Data columns (total 47 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   name                             187247 non-null  object
 1   assists                          187247 non-null  int64
 2   attempted_passes                 96186 non-null   float64
 3   big_chances_created              96186 non-null   float64
 4   big_chances_missed               96186 non-null   float64
 5   clean_sheets                     187247 non-null  int64
 6   clearances_blocks_interceptions  96186 non-null   float64
 7   completed_passes                 96186 non-null   float64
 8   creativity                       187247 non-null  float64
 9   dribbles                         96186 non-null   float64
 10  ea_index                         96186 non-null   float64
 11  element                          187247 non-null  int64
 12  errors_leading_to_goal           96186 non-null   float64
 13  errors_leading_to_goal_attempt   96186 non-null   float64
 14  fouls                            96186 non-null   float64
 15  goals_conceded                   187247 non-null  int64
 16  goals_scored                     187247 non-null  int64
 17  ict_index                        187247 non-null  float64
 18  influence                        187247 non-null  float64
 19  key_passes                       96186 non-null   float64
 20  minutes                          187247 non-null  int64
 21  open_play_crosses                96186 non-null   float64
 22  opponent_team                    187247 non-null  int64
 23  own_goals                        187247 non-null  int64
 24  penalties_conceded               96186 non-null   float64
 25  penalties_missed                 187247 non-null  int64
 26  penalties_saved                  187247 non-null  int64
 27  tackles                          96186 non-null   float64
 28  target_missed                    96186 non-null   float64
 29  team_a_score                     187247 non-null  float64
 30  team_h_score                     187247 non-null  float64
 31  threat                           187247 non-null  float64
 32  was_home                         187247 non-null  bool
 33  winning_goals                    96186 non-null   float64
 34  GW                               187247 non-null  int64
 35  season_x                         187247 non-null  object
 36  index_y                          74320 non-null   float64
 37  team                             187247 non-null  object
 38  expected_assists                 187247 non-null  float64
 39  expected_goal_involvements       187247 non-null  float64
 40  expected_goals                   187247 non-null  float64
 41  expected_goals_conceded          187247 non-null  float64
 42  level_0                          181912 non-null  float64
 43  index                            181912 non-null  float64
 44  Opp_team_name                    166813 non-null  object
 45  Match                            187247 non-null  object
 46  Winner                           187247 non-null  object
dtypes: bool(1), float64(29), int64(11), object(6)
memory usage: 65.9+ MB

In [107]:
# Define a function to fill missing values with the median of the same player's data
def fill_na_with_player_median(df, column):
    player_median = df.groupby('name')[column].transform('median')
    df[column] = df[column].fillna(player_median)
    return df

# Iterate over each numerical column in the DataFrame
for column in numerical_columns:
    # Fill missing values for the column with the median of the same player's data
    df_final = fill_na_with_player_median(df_final, column)


df_final.head()

,name,assists,attempted_passes,big_chances_created,big_chances_missed,clean_sheets,clearances_blocks_interceptions,completed_passes,creativity,dribbles,...,team,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,level_0,index,Opp_team_name,Match,Winner
0,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,West Ham,0.0,0.0,0.0,0.0,3.0,3.0,Chelsea,Chelsea-vs-West Ham,H
1,Aaron Lennon,0,3.0,0.0,0.0,0,1.0,2.0,0.3,0.0,...,Everton,0.0,0.0,0.0,0.0,16.0,16.0,Spurs,Everton-vs-Spurs,D
2,Aaron Ramsey,0,26.0,0.0,0.0,0,2.0,22.0,4.9,1.0,...,Arsenal,0.0,1.0,0.0,1.0,8.0,8.0,Liverpool,Arsenal-vs-Liverpool,A
3,Abdoulaye Doucouré,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,Chelsea,0.0,0.0,0.0,0.0,12.0,12.0,Southampton,Southampton-vs-nan,D
4,Abdul Rahman Baba,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,Chelsea,0.0,0.0,0.0,0.0,19.0,19.0,West Ham,Chelsea-vs-West Ham,H

In [108]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187247 entries, 0 to 187246
Data columns (total 47 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   name                             187247 non-null  object
 1   assists                          187247 non-null  int64
 2   attempted_passes                 96186 non-null   float64
 3   big_chances_created              96186 non-null   float64
 4   big_chances_missed               96186 non-null   float64
 5   clean_sheets                     187247 non-null  int64
 6   clearances_blocks_interceptions  96186 non-null   float64
 7   completed_passes                 96186 non-null   float64
 8   creativity                       187247 non-null  float64
 9   dribbles                         96186 non-null   float64
 10  ea_index                         96186 non-null   float64
 11  element                          187247 non-null  int64
 12  errors_leading_to_goal           96186 non-null   float64
 13  errors_leading_to_goal_attempt   96186 non-null   float64
 14  fouls                            96186 non-null   float64
 15  goals_conceded                   187247 non-null  int64
 16  goals_scored                     187247 non-null  int64
 17  ict_index                        187247 non-null  float64
 18  influence                        187247 non-null  float64
 19  key_passes                       96186 non-null   float64
 20  minutes                          187247 non-null  int64
 21  open_play_crosses                96186 non-null   float64
 22  opponent_team                    187247 non-null  int64
 23  own_goals                        187247 non-null  int64
 24  penalties_conceded               96186 non-null   float64
 25  penalties_missed                 187247 non-null  int64
 26  penalties_saved                  187247 non-null  int64
 27  tackles                          96186 non-null   float64
 28  target_missed                    96186 non-null   float64
 29  team_a_score                     187247 non-null  float64
 30  team_h_score                     187247 non-null  float64
 31  threat                           187247 non-null  float64
 32  was_home                         187247 non-null  bool
 33  winning_goals                    96186 non-null   float64
 34  GW                               187247 non-null  int64
 35  season_x                         187247 non-null  object
 36  index_y                          74320 non-null   float64
 37  team                             187247 non-null  object
 38  expected_assists                 187247 non-null  float64
 39  expected_goal_involvements       187247 non-null  float64
 40  expected_goals                   187247 non-null  float64
 41  expected_goals_conceded          187247 non-null  float64
 42  level_0                          181912 non-null  float64
 43  index                            181912 non-null  float64
 44  Opp_team_name                    166813 non-null  object
 45  Match                            187247 non-null  object
 46  Winner                           187247 non-null  object
dtypes: bool(1), float64(29), int64(11), object(6)
memory usage: 65.9+ MB

In [109]:
numerical_columns = df_final.select_dtypes(include='float64').columns

In [110]:
# Define a function to fill missing values with the median of the same player's data
def fill_na_with_player_median(df, column):
    player_median = df.groupby('name')[column].transform('median')
    df[column] = df[column].fillna(player_median)
    return df

# Iterate over each numerical column in the DataFrame
for column in numerical_columns:
    # Fill missing values for the column with the median of the same player's data
    df_final = fill_na_with_player_median(df_final, column)


df_final.head()

,name,assists,attempted_passes,big_chances_created,big_chances_missed,clean_sheets,clearances_blocks_interceptions,completed_passes,creativity,dribbles,...,team,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,level_0,index,Opp_team_name,Match,Winner
0,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,West Ham,0.0,0.0,0.0,0.0,3.0,3.0,Chelsea,Chelsea-vs-West Ham,H
1,Aaron Lennon,0,3.0,0.0,0.0,0,1.0,2.0,0.3,0.0,...,Everton,0.0,0.0,0.0,0.0,16.0,16.0,Spurs,Everton-vs-Spurs,D
2,Aaron Ramsey,0,26.0,0.0,0.0,0,2.0,22.0,4.9,1.0,...,Arsenal,0.0,1.0,0.0,1.0,8.0,8.0,Liverpool,Arsenal-vs-Liverpool,A
3,Abdoulaye Doucouré,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,Chelsea,0.0,0.0,0.0,0.0,12.0,12.0,Southampton,Southampton-vs-nan,D
4,Abdul Rahman Baba,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,Chelsea,0.0,0.0,0.0,0.0,19.0,19.0,West Ham,Chelsea-vs-West Ham,H

In [111]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187247 entries, 0 to 187246
Data columns (total 47 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   name                             187247 non-null  object
 1   assists                          187247 non-null  int64
 2   attempted_passes                 96186 non-null   float64
 3   big_chances_created              96186 non-null   float64
 4   big_chances_missed               96186 non-null   float64
 5   clean_sheets                     187247 non-null  int64
 6   clearances_blocks_interceptions  96186 non-null   float64
 7   completed_passes                 96186 non-null   float64
 8   creativity                       187247 non-null  float64
 9   dribbles                         96186 non-null   float64
 10  ea_index                         96186 non-null   float64
 11  element                          187247 non-null  int64
 12  errors_leading_to_goal           96186 non-null   float64
 13  errors_leading_to_goal_attempt   96186 non-null   float64
 14  fouls                            96186 non-null   float64
 15  goals_conceded                   187247 non-null  int64
 16  goals_scored                     187247 non-null  int64
 17  ict_index                        187247 non-null  float64
 18  influence                        187247 non-null  float64
 19  key_passes                       96186 non-null   float64
 20  minutes                          187247 non-null  int64
 21  open_play_crosses                96186 non-null   float64
 22  opponent_team                    187247 non-null  int64
 23  own_goals                        187247 non-null  int64
 24  penalties_conceded               96186 non-null   float64
 25  penalties_missed                 187247 non-null  int64
 26  penalties_saved                  187247 non-null  int64
 27  tackles                          96186 non-null   float64
 28  target_missed                    96186 non-null   float64
 29  team_a_score                     187247 non-null  float64
 30  team_h_score                     187247 non-null  float64
 31  threat                           187247 non-null  float64
 32  was_home                         187247 non-null  bool
 33  winning_goals                    96186 non-null   float64
 34  GW                               187247 non-null  int64
 35  season_x                         187247 non-null  object
 36  index_y                          74320 non-null   float64
 37  team                             187247 non-null  object
 38  expected_assists                 187247 non-null  float64
 39  expected_goal_involvements       187247 non-null  float64
 40  expected_goals                   187247 non-null  float64
 41  expected_goals_conceded          187247 non-null  float64
 42  level_0                          181912 non-null  float64
 43  index                            181912 non-null  float64
 44  Opp_team_name                    166813 non-null  object
 45  Match                            187247 non-null  object
 46  Winner                           187247 non-null  object
dtypes: bool(1), float64(29), int64(11), object(6)
memory usage: 65.9+ MB

In [112]:
# Fill missing values in numerical columns with the median of the entire column
numerical_columns = df_final.select_dtypes(include=['float64', 'int64']).columns
df_final[numerical_columns] = df_final[numerical_columns].fillna(df_final[numerical_columns].median())

# Fill missing values in categorical columns with the mode of the entire column
categorical_columns = df_final.select_dtypes(include=['object']).columns
df_final[categorical_columns] = df_final[categorical_columns].fillna(df_final[categorical_columns].mode().iloc[0])

# Verify the result
print(df_final.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187247 entries, 0 to 187246
Data columns (total 47 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   name                             187247 non-null  object
 1   assists                          187247 non-null  int64
 2   attempted_passes                 187247 non-null  float64
 3   big_chances_created              187247 non-null  float64
 4   big_chances_missed               187247 non-null  float64
 5   clean_sheets                     187247 non-null  int64
 6   clearances_blocks_interceptions  187247 non-null  float64
 7   completed_passes                 187247 non-null  float64
 8   creativity                       187247 non-null  float64
 9   dribbles                         187247 non-null  float64
 10  ea_index                         187247 non-null  float64
 11  element                          187247 non-null  int64
 12  errors_leading_to_goal           187247 non-null  float64
 13  errors_leading_to_goal_attempt   187247 non-null  float64
 14  fouls                            187247 non-null  float64
 15  goals_conceded                   187247 non-null  int64
 16  goals_scored                     187247 non-null  int64
 17  ict_index                        187247 non-null  float64
 18  influence                        187247 non-null  float64
 19  key_passes                       187247 non-null  float64
 20  minutes                          187247 non-null  int64
 21  open_play_crosses                187247 non-null  float64
 22  opponent_team                    187247 non-null  int64
 23  own_goals                        187247 non-null  int64
 24  penalties_conceded               187247 non-null  float64
 25  penalties_missed                 187247 non-null  int64
 26  penalties_saved                  187247 non-null  int64
 27  tackles                          187247 non-null  float64
 28  target_missed                    187247 non-null  float64
 29  team_a_score                     187247 non-null  float64
 30  team_h_score                     187247 non-null  float64
 31  threat                           187247 non-null  float64
 32  was_home                         187247 non-null  bool
 33  winning_goals                    187247 non-null  float64
 34  GW                               187247 non-null  int64
 35  season_x                         187247 non-null  object
 36  index_y                          187247 non-null  float64
 37  team                             187247 non-null  object
 38  expected_assists                 187247 non-null  float64
 39  expected_goal_involvements       187247 non-null  float64
 40  expected_goals                   187247 non-null  float64
 41  expected_goals_conceded          187247 non-null  float64
 42  level_0                          187247 non-null  float64
 43  index                            187247 non-null  float64
 44  Opp_team_name                    187247 non-null  object
 45  Match                            187247 non-null  object
 46  Winner                           187247 non-null  object
dtypes: bool(1), float64(29), int64(11), object(6)
memory usage: 65.9+ MB
None

In [113]:
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'tackles', 'target_missed', 'team_a_score',
       'team_h_score', 'threat', 'was_home', 'winning_goals', 'GW', 'season_x',
       'index_y', 'team', 'expected_assists', 'expected_goal_involvements',
       'expected_goals', 'expected_goals_conceded', 'level_0', 'index',
       'Opp_team_name', 'Match', 'Winner'],
      dtype='object')

In [114]:
col_to_drop = ['level_0', 'index', 'index_y']

In [116]:
df_final['was_home'].value_counts()

was_home
False    93649
True     93598
Name: count, dtype: int64

In [147]:
df_final.columns

Index(['assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'open_play_crosses', 'own_goals', 'penalties_conceded',
       'penalties_missed', 'penalties_saved', 'tackles', 'target_missed',
       'threat', 'was_home', 'season_x', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'Match', 'Winner'],
      dtype='object')

In [128]:
# coll_to_drop = ['name', 'index_y', 'index','Opp_team_name', 'level_0', 'index', 'opponent_team', 'team', 'team_h_score', 'team_a_score', 'GW']
coll_to_drop = ['minutes','winning_goals']

In [129]:
df_final.drop(columns=coll_to_drop, inplace= True)

In [174]:
# Spliting the home team data and away team data
filt = df_final['was_home'] == True
df_home_team = df_final.loc[filt]
df_away_team = df_final.loc[~filt]

In [175]:

df_home_team.drop(columns='was_home', inplace=True)
df_away_team.drop(columns= 'was_home', inplace=True)

C:\Users\subas\AppData\Local\Temp\ipykernel_20700\619947038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_home_team.drop(columns='was_home', inplace=True)
C:\Users\subas\AppData\Local\Temp\ipykernel_20700\619947038.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_away_team.drop(columns= 'was_home', inplace=True)

In [176]:
df_home_team.columns

Index(['assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'open_play_crosses', 'own_goals', 'penalties_conceded',
       'penalties_missed', 'penalties_saved', 'tackles', 'target_missed',
       'threat', 'season_x', 'expected_assists', 'expected_goal_involvements',
       'expected_goals', 'expected_goals_conceded', 'Match', 'Winner'],
      dtype='object')

In [177]:
# Group by 'Match' and 'season_x' and calculate the sum of each group
df_home_team = df_home_team.groupby(['Match', 'season_x','Winner']).sum().reset_index()

df_away_team = df_away_team.groupby(['Match', 'season_x','Winner']).sum().reset_index()

In [178]:
df_away_team

,Match,season_x,Winner,assists,attempted_passes,big_chances_created,big_chances_missed,clean_sheets,clearances_blocks_interceptions,completed_passes,...,penalties_conceded,penalties_missed,penalties_saved,tackles,target_missed,threat,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded
0,Arsenal-vs-Arsenal,2017-18,A,0,0.000000,0.000000,0.000000,0,0.000000,0.000000,...,0.000000,0,0,0.000000,0.000000,0.0,0.00,0.00,0.00,0.000000
1,Arsenal-vs-Aston Villa,2020-21,A,3,265.065789,0.118421,0.078947,11,3.381579,182.394737,...,0.000000,0,0,1.039474,0.552632,307.0,0.00,0.00,2.00,0.000000
2,Arsenal-vs-Aston Villa,2021-22,H,1,279.957841,0.289474,0.144737,0,4.661386,201.718851,...,0.000000,0,1,1.232277,0.651987,116.0,0.00,0.00,1.00,0.000000
3,Arsenal-vs-Aston Villa,2022-23,H,0,259.460526,0.118421,0.039474,0,7.513158,184.184211,...,0.026316,0,0,1.144737,0.223684,57.0,0.00,0.00,0.00,0.000000
4,Arsenal-vs-Bournemouth,2016-17,H,0,390.000000,1.000000,2.000000,0,45.000000,305.000000,...,0.000000,0,0,8.000000,5.000000,122.0,6.00,6.00,1.00,13.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2406,nan-vs-West Ham,2023-24,D,3,563.055921,0.486842,0.368421,1,35.031123,399.762399,...,0.105263,0,0,4.291245,2.184211,302.0,1.75,5.09,3.34,40.390000
2407,nan-vs-West Ham,2023-24,H,4,1784.098684,1.736842,1.342105,0,112.267713,1276.876012,...,0.315789,0,0,14.087551,7.421053,671.0,4.31,12.29,7.98,137.640000
2408,nan-vs-Wolves,2023-24,A,11,1670.276316,0.263158,0.263158,10,39.736842,1169.026316,...,0.000000,0,0,8.223684,2.763158,772.0,4.27,13.10,8.83,83.140000
2409,nan-vs-Wolves,2023-24,D,1,669.710526,0.105263,0.105263,11,15.894737,468.710526,...,0.000000,0,0,3.289474,1.105263,172.0,0.43,2.45,2.02,39.330000
2410,nan-vs-Wolves,2023-24,H,5,2227.986842,0.368421,0.368421,4,55.631579,1560.736842,...,0.000000,0,0,11.513158,3.868421,904.0,5.78,14.32,8.54,150.890000

In [179]:
df_after_feature_engg = pd.merge(df_home_team, df_away_team, on = ['Match', 'season_x', 'Winner'], suffixes=('_Home', '_Away'))

In [180]:
df_after_feature_engg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1925 entries, 0 to 1924
Data columns (total 65 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Match                                 1925 non-null   object
 1   season_x                              1925 non-null   object
 2   Winner                                1925 non-null   object
 3   assists_Home                          1925 non-null   int64
 4   attempted_passes_Home                 1925 non-null   float64
 5   big_chances_created_Home              1925 non-null   float64
 6   big_chances_missed_Home               1925 non-null   float64
 7   clean_sheets_Home                     1925 non-null   int64
 8   clearances_blocks_interceptions_Home  1925 non-null   float64
 9   completed_passes_Home                 1925 non-null   float64
 10  creativity_Home                       1925 non-null   float64
 11  dribbles_Home                         1925 non-null   float64
 12  ea_index_Home                         1925 non-null   float64
 13  element_Home                          1925 non-null   int64
 14  errors_leading_to_goal_Home           1925 non-null   float64
 15  errors_leading_to_goal_attempt_Home   1925 non-null   float64
 16  fouls_Home                            1925 non-null   float64
 17  goals_conceded_Home                   1925 non-null   int64
 18  goals_scored_Home                     1925 non-null   int64
 19  ict_index_Home                        1925 non-null   float64
 20  influence_Home                        1925 non-null   float64
 21  key_passes_Home                       1925 non-null   float64
 22  open_play_crosses_Home                1925 non-null   float64
 23  own_goals_Home                        1925 non-null   int64
 24  penalties_conceded_Home               1925 non-null   float64
 25  penalties_missed_Home                 1925 non-null   int64
 26  penalties_saved_Home                  1925 non-null   int64
 27  tackles_Home                          1925 non-null   float64
 28  target_missed_Home                    1925 non-null   float64
 29  threat_Home                           1925 non-null   float64
 30  expected_assists_Home                 1925 non-null   float64
 31  expected_goal_involvements_Home       1925 non-null   float64
 32  expected_goals_Home                   1925 non-null   float64
 33  expected_goals_conceded_Home          1925 non-null   float64
 34  assists_Away                          1925 non-null   int64
 35  attempted_passes_Away                 1925 non-null   float64
 36  big_chances_created_Away              1925 non-null   float64
 37  big_chances_missed_Away               1925 non-null   float64
 38  clean_sheets_Away                     1925 non-null   int64
 39  clearances_blocks_interceptions_Away  1925 non-null   float64
 40  completed_passes_Away                 1925 non-null   float64
 41  creativity_Away                       1925 non-null   float64
 42  dribbles_Away                         1925 non-null   float64
 43  ea_index_Away                         1925 non-null   float64
 44  element_Away                          1925 non-null   int64
 45  errors_leading_to_goal_Away           1925 non-null   float64
 46  errors_leading_to_goal_attempt_Away   1925 non-null   float64
 47  fouls_Away                            1925 non-null   float64
 48  goals_conceded_Away                   1925 non-null   int64
 49  goals_scored_Away                     1925 non-null   int64
 50  ict_index_Away                        1925 non-null   float64
 51  influence_Away                        1925 non-null   float64
 52  key_passes_Away                       1925 non-null   float64
 53  open_play_crosses_Away                1925 non-null   float64
 54  own_goals_Away                        1925 non-null   int64
 55  penalties_conceded_Away               1925 non-null   float64
 56  penalties_missed_Away                 1925 non-null   int64
 57  penalties_saved_Away                  1925 non-null   int64
 58  tackles_Away                          1925 non-null   float64
 59  target_missed_Away                    1925 non-null   float64
 60  threat_Away                           1925 non-null   float64
 61  expected_assists_Away                 1925 non-null   float64
 62  expected_goal_involvements_Away       1925 non-null   float64
 63  expected_goals_Away                   1925 non-null   float64
 64  expected_goals_conceded_Away          1925 non-null   float64
dtypes: float64(46), int64(16), object(3)
memory usage: 977.7+ KB