In [1]:
import pandas as pd
import numpy as np

In [2]:
df_merged = pd.read_csv('Merged_2016_2024.csv')
df_merged.head(5)

C:\Users\subas\AppData\Local\Temp\ipykernel_19508\3555470725.py:1: DtypeWarning: Columns (26,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged = pd.read_csv('Merged_2016_2024.csv')

,Unnamed: 0,name,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,clearances_blocks_interceptions,...,GW,season_x,position,team,xP,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,starts
0,0,Aaron_Cresswell,0,0.0,0.0,0.0,0,0,0,0.0,...,1,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Aaron_Lennon,0,3.0,0.0,0.0,0,6,0,1.0,...,1,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Aaron_Ramsey,0,26.0,0.0,0.0,0,5,0,2.0,...,1,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Abdoulaye_Doucouré,0,0.0,0.0,0.0,0,0,0,0.0,...,1,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Abdul Rahman_Baba,0,0.0,0.0,0.0,0,0,0,0.0,...,1,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_merged.columns

Index(['Unnamed: 0', 'name', 'assists', 'attempted_passes',
       'big_chances_created', 'big_chances_missed', 'bonus', 'bps',
       'clean_sheets', 'clearances_blocks_interceptions', 'completed_passes',
       'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fixture',
       'fouls', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'influence', 'key_passes', 'kickoff_time', 'kickoff_time_formatted',
       'loaned_in', 'loaned_out', 'minutes', 'offside', 'open_play_crosses',
       'opponent_team', 'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'recoveries', 'red_cards', 'round', 'saves',
       'selected', 'tackled', 'tackles', 'target_missed', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'winning_goals',
       'yellow_cards', 'GW', 'season_x', 'position', 'team', 'xP',
       'expected_assists', 'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts'],
      dtype='object')

In [19]:
df_merged.loc[df_merged['team'] != '', ['season_x', 'name', 'team', 'position']].head(100)

   season_x                name team position
0   2016-17     Aaron_Cresswell  NaN      NaN
1   2016-17        Aaron_Lennon  NaN      NaN
2   2016-17        Aaron_Ramsey  NaN      NaN
3   2016-17  Abdoulaye_Doucouré  NaN      NaN
4   2016-17   Abdul Rahman_Baba  NaN      NaN
..      ...                 ...  ...      ...
95  2016-17     Christian_Fuchs  NaN      NaN
96  2016-17  Christian_Kabasele  NaN      NaN
97  2016-17         Chris_Brunt  NaN      NaN
98  2016-17          Chris_Long  NaN      NaN
99  2016-17      Chris_Smalling  NaN      NaN

[100 rows x 4 columns]

In [20]:
df_merged['name'] =df_merged['name'].str.replace('_'," ")
df_merged['name'] = df_merged['name'].str.replace(r'\d+', '')
df_merged['name'] = df_merged['name'].str.strip()

In [21]:
df_merged.loc[df_merged['team'] != '', ['season_x', 'name', 'team', 'position']].head(100)

   season_x                name team position
0   2016-17     Aaron Cresswell  NaN      NaN
1   2016-17        Aaron Lennon  NaN      NaN
2   2016-17        Aaron Ramsey  NaN      NaN
3   2016-17  Abdoulaye Doucouré  NaN      NaN
4   2016-17   Abdul Rahman Baba  NaN      NaN
..      ...                 ...  ...      ...
95  2016-17     Christian Fuchs  NaN      NaN
96  2016-17  Christian Kabasele  NaN      NaN
97  2016-17         Chris Brunt  NaN      NaN
98  2016-17          Chris Long  NaN      NaN
99  2016-17      Chris Smalling  NaN      NaN

[100 rows x 4 columns]

In [26]:
df_merged.loc[df_merged['name'] == 'Aaron Ramsey', ['season_x', 'team','opponent_team']]

       season_x     team  opponent_team
2       2016-17      NaN              9
526     2016-17      NaN             15
1124    2016-17      NaN             17
1723    2016-17      NaN             11
2324    2016-17      NaN              2
...         ...      ...            ...
183643  2023-24  Burnley             10
184457  2023-24  Burnley             11
185428  2023-24  Burnley              1
186270  2023-24  Burnley              3
187185  2023-24  Burnley             19

[140 rows x 3 columns]