In [2]:
import pandas as pd
import numpy as np
import os

In [3]:

# Team list dataset
master_team_list = 'master_team_list.csv'

#File path of player based stats
file_path_16_17 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2016-17\gws\merged_gw.csv'
file_path_17_18 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2017-18\gws\merged_gw.csv'
file_path_18_19 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2018-19\gws\merged_gw.csv'
file_path_19_20 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2019-20\gws\merged_gw.csv'
file_path_20_21 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2020-21\gws\merged_gw.csv'
file_path_21_22 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2021-22\gws\merged_gw.csv'
file_path_22_23 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2022-23\gws\merged_gw.csv'
file_path_23_24 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2023-24\gws\merged_gw.csv'

#File path for player team name
file_path_16_17_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2016-17\players_raw.csv'
file_path_17_18_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2017-18\players_raw.csv'
file_path_18_19_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2018-19\players_raw.csv'
file_path_19_20_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2019-20\players_raw.csv'
file_path_20_21_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2020-21\players_raw.csv'
file_path_21_22_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2021-22\players_raw.csv'
file_path_22_23_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2022-23\players_raw.csv'
file_path_23_24_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2023-24\players_raw.csv'


df_16_17 = pd.read_csv(file_path_16_17, encoding='latin1')
df_16_17['season_x'] = '2016-17'
df_17_18 = pd.read_csv(file_path_17_18, encoding='latin1')
df_17_18['season_x'] = '2017-18'
df_18_19 = pd.read_csv(file_path_18_19, encoding='latin1')
df_18_19['season_x'] = '2018-19'
df_19_20 = pd.read_csv(file_path_19_20, encoding='latin1')
df_19_20['season_x'] = '2019-20'
df_20_21 = pd.read_csv(file_path_20_21, encoding='latin1')
df_20_21['season_x'] = '2020-21'
df_21_22 = pd.read_csv(file_path_21_22, encoding='latin1')
df_21_22['season_x'] = '2021-22'
df_22_23 = pd.read_csv(file_path_22_23, encoding='latin1')
df_22_23['season_x'] = '2022-23'
df_23_24 = pd.read_csv(file_path_23_24, encoding='latin1')
df_23_24['season_x'] = '2023-24'


df_16_17_raw = pd.read_csv(file_path_16_17_raw, encoding='latin1')
df_16_17_raw['season_x'] = '2016-17'
df_17_18_raw = pd.read_csv(file_path_17_18_raw, encoding='latin1')
df_17_18_raw['season_x'] = '2017-18'
df_18_19_raw = pd.read_csv(file_path_18_19_raw, encoding='latin1')
df_18_19_raw['season_x'] = '2018-19'
df_19_20_raw = pd.read_csv(file_path_19_20_raw, encoding='latin1')
df_19_20_raw['season_x'] = '2019-20'
df_20_21_raw = pd.read_csv(file_path_20_21_raw, encoding='latin1')
df_20_21_raw['season_x'] = '2020-21'
df_21_22_raw = pd.read_csv(file_path_21_22_raw, encoding='latin1')
df_21_22_raw['season_x'] = '2021-22'
df_22_23_raw = pd.read_csv(file_path_22_23_raw, encoding='latin1')
df_22_23_raw['season_x'] = '2022-23'
df_23_24_raw = pd.read_csv(file_path_23_24_raw, encoding='latin1')
df_23_24_raw['season_x'] = '2023-24'

In [4]:
df_17_18_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647 entries, 0 to 646
Data columns (total 59 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   assists                       647 non-null    int64
 1   bonus                         647 non-null    int64
 2   bps                           647 non-null    int64
 3   chance_of_playing_next_round  514 non-null    float64
 4   chance_of_playing_this_round  514 non-null    float64
 5   clean_sheets                  647 non-null    int64
 6   code                          647 non-null    int64
 7   cost_change_event             647 non-null    int64
 8   cost_change_event_fall        647 non-null    int64
 9   cost_change_start             647 non-null    int64
 10  cost_change_start_fall        647 non-null    int64
 11  creativity                    647 non-null    float64
 12  dreamteam_count               647 non-null    int64
 13  ea_index                      647 non-null    int64
 14  element_type                  647 non-null    int64
 15  ep_next                       645 non-null    float64
 16  ep_this                       647 non-null    float64
 17  event_points                  647 non-null    int64
 18  first_name                    647 non-null    object
 19  form                          647 non-null    float64
 20  goals_conceded                647 non-null    int64
 21  goals_scored                  647 non-null    int64
 22  ict_index                     647 non-null    float64
 23  id                            647 non-null    int64
 24  in_dreamteam                  647 non-null    bool
 25  influence                     647 non-null    float64
 26  loaned_in                     647 non-null    int64
 27  loaned_out                    647 non-null    int64
 28  loans_in                      647 non-null    int64
 29  loans_out                     647 non-null    int64
 30  minutes                       647 non-null    int64
 31  news                          180 non-null    object
 32  news_added                    514 non-null    object
 33  now_cost                      647 non-null    int64
 34  own_goals                     647 non-null    int64
 35  penalties_missed              647 non-null    int64
 36  penalties_saved               647 non-null    int64
 37  photo                         647 non-null    object
 38  points_per_game               647 non-null    float64
 39  red_cards                     647 non-null    int64
 40  saves                         647 non-null    int64
 41  second_name                   647 non-null    object
 42  selected_by_percent           647 non-null    float64
 43  special                       647 non-null    bool
 44  squad_number                  642 non-null    float64
 45  status                        647 non-null    object
 46  team                          647 non-null    int64
 47  team_code                     647 non-null    int64
 48  threat                        647 non-null    float64
 49  total_points                  647 non-null    int64
 50  transfers_in                  647 non-null    int64
 51  transfers_in_event            647 non-null    int64
 52  transfers_out                 647 non-null    int64
 53  transfers_out_event           647 non-null    int64
 54  value_form                    647 non-null    float64
 55  value_season                  647 non-null    float64
 56  web_name                      647 non-null    object
 57  yellow_cards                  647 non-null    int64
 58  season_x                      647 non-null    object
dtypes: bool(2), float64(14), int64(35), object(8)
memory usage: 289.5+ KB

In [5]:
# List of DataFrames
dfs = [df_16_17, df_17_18, df_18_19, df_19_20,df_20_21, df_21_22,  df_22_23, df_23_24]

# Extract columns from each DataFrame
columns_sets = [set(df.columns) for df in dfs]

# Find the intersection of columns
common_columns = set.intersection(*columns_sets)

# Convert the set to a list if needed
common_columns_list = list(common_columns)

print("Common columns:", common_columns_list)

Common columns: ['ict_index', 'selected', 'element', 'threat', 'name', 'minutes', 'influence', 'team_a_score', 'penalties_saved', 'round', 'yellow_cards', 'goals_conceded', 'goals_scored', 'team_h_score', 'transfers_balance', 'kickoff_time', 'penalties_missed', 'clean_sheets', 'red_cards', 'fixture', 'transfers_in', 'transfers_out', 'GW', 'creativity', 'value', 'opponent_team', 'bps', 'season_x', 'bonus', 'own_goals', 'saves', 'was_home', 'total_points', 'assists']

In [6]:
df_2016_20 = pd.concat([df_16_17,df_17_18, df_18_19, df_19_20])
df_2016_20_raw = pd.concat([df_16_17_raw, df_17_18_raw, df_18_19_raw, df_19_20_raw])

In [7]:
df_2016_20_raw['name'] = df_2016_20_raw['first_name'] + " " + df_2016_20_raw['second_name']

In [8]:
df_2016_20_raw_new = df_2016_20_raw[['season_x', 'name', 'team']]
df_2016_20_raw_new['team']

0       1
1       1
2       1
3       1
4       1
       ..
661    20
662    20
663    20
664    20
665    20
Name: team, Length: 2620, dtype: int64

In [9]:
#Importing team list

df_master_team_list = pd.read_csv('Data\data\master_team_list.csv')

In [10]:
df_master_team_list.head()

    season  team       team_name
0  2016-17     1         Arsenal
1  2016-17     2     Bournemouth
2  2016-17     3         Burnley
3  2016-17     4         Chelsea
4  2016-17     5  Crystal Palace

In [11]:
# Mapping the team name using team code
df_2016_20_raw_new.reset_index(inplace=True)
df_master_team_list.reset_index(inplace=True)

df_2016_20_raw_new.loc[:, 'id'] = df_2016_20_raw_new['season_x'] + df_2016_20_raw_new['team'].astype(str)
df_master_team_list.loc[:, 'id'] = df_master_team_list['season'] + df_master_team_list['team'].astype(str)

C:\Users\subas\AppData\Local\Temp\ipykernel_20812\478839416.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016_20_raw_new.loc[:, 'id'] = df_2016_20_raw_new['season_x'] + df_2016_20_raw_new['team'].astype(str)

In [12]:
df_master_team_list['id']

0       2016-171
1       2016-172
2       2016-173
3       2016-174
4       2016-175
         ...
135    2022-2316
136    2022-2317
137    2022-2318
138    2022-2319
139    2022-2320
Name: id, Length: 140, dtype: object

In [13]:
removeing_season = ['2020-21', '2021-22','2022-23', '2023-24']
filt = df_master_team_list['season'].isin(removeing_season)
df_master_team_list.drop(index=df_master_team_list[filt].index)

    index   season  team       team_name         id
0       0  2016-17     1         Arsenal   2016-171
1       1  2016-17     2     Bournemouth   2016-172
2       2  2016-17     3         Burnley   2016-173
3       3  2016-17     4         Chelsea   2016-174
4       4  2016-17     5  Crystal Palace   2016-175
..    ...      ...   ...             ...        ...
75     75  2019-20    16     Southampton  2019-2016
76     76  2019-20    17           Spurs  2019-2017
77     77  2019-20    18         Watford  2019-2018
78     78  2019-20    19        West Ham  2019-2019
79     79  2019-20    20          Wolves  2019-2020

[80 rows x 5 columns]

In [14]:

#mapping the team name using team_id
df_player_team_name = pd.merge(df_2016_20_raw_new, df_master_team_list, on = 'id', how='left')

In [15]:
df_player_team_name

,index_x,season_x,name,team_x,id,index_y,season,team_y,team_name
0,0,2016-17,David Ospina,1,2016-171,0,2016-17,1,Arsenal
1,1,2016-17,Petr Cech,1,2016-171,0,2016-17,1,Arsenal
2,2,2016-17,Laurent Koscielny,1,2016-171,0,2016-17,1,Arsenal
3,3,2016-17,Per Mertesacker,1,2016-171,0,2016-17,1,Arsenal
4,4,2016-17,Gabriel Armando de Abreu,1,2016-171,0,2016-17,1,Arsenal
...,...,...,...,...,...,...,...,...,...
2615,661,2019-20,Oskar Buur,20,2019-2020,79,2019-20,20,Wolves
2616,662,2019-20,Ryan Giles,20,2019-2020,79,2019-20,20,Wolves
2617,663,2019-20,Bruno AndrÃ© Cavaco Jordao,20,2019-2020,79,2019-20,20,Wolves
2618,664,2019-20,Daniel Castelo Podence,20,2019-2020,79,2019-20,20,Wolves
2619,665,2019-20,Leonardo Campana,20,2019-2020,79,2019-20,20,Wolves

In [16]:
df_player_team_name = df_player_team_name[['season_x', 'name', 'team_name']]

In [17]:
df_player_team_name.head

<bound method NDFrame.head of      season_x                        name team_name
0     2016-17                David Ospina   Arsenal
1     2016-17                   Petr Cech   Arsenal
2     2016-17           Laurent Koscielny   Arsenal
3     2016-17             Per Mertesacker   Arsenal
4     2016-17    Gabriel Armando de Abreu   Arsenal
...       ...                         ...       ...
2615  2019-20                  Oskar Buur    Wolves
2616  2019-20                  Ryan Giles    Wolves
2617  2019-20  Bruno AndrÃ© Cavaco Jordao    Wolves
2618  2019-20      Daniel Castelo Podence    Wolves
2619  2019-20            Leonardo Campana    Wolves

[2620 rows x 3 columns]>

In [18]:
df_2016_20['name'].head

<bound method NDFrame.head of 0               Aaron_Cresswell
1                  Aaron_Lennon
2                  Aaron_Ramsey
3            Abdoulaye_Doucouré
4             Abdul Rahman_Baba
                  ...
22555       Youri_Tielemans_448
22556          Yves_Bissouma_53
22557           Zech_Medley_636
22558    Ãaglar_SÃ¶yÃ¼ncÃ¼_164
22559          Ãrjan_Nyland_27
Name: name, Length: 90496, dtype: object>

In [19]:
# Function to remove the _ and number to tally with player_name from Player_team_table
def strip_number(name):
    name = name.str.replace(r'\d+', "")
    name = name.str.replace("_", " ")
    name = name.str.strip()
    return name

In [20]:
import re

df_2016_20['name'] = df_2016_20['name'].apply(lambda x: re.sub(r'\s\d+$', '', x))
df_2016_20['name'] = df_2016_20['name'].str.replace("_", " ")
df_2016_20['name'] = df_2016_20['name'].str.strip()

In [21]:
df_2016_20.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'bonus', 'bps', 'clean_sheets',
       'clearances_blocks_interceptions', 'completed_passes', 'creativity',
       'dribbles', 'ea_index', 'element', 'errors_leading_to_goal',
       'errors_leading_to_goal_attempt', 'fixture', 'fouls', 'goals_conceded',
       'goals_scored', 'ict_index', 'id', 'influence', 'key_passes',
       'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out',
       'minutes', 'offside', 'open_play_crosses', 'opponent_team', 'own_goals',
       'penalties_conceded', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'tackled',
       'tackles', 'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'transfers_balance', 'transfers_in', 'transfers_out',
       'value', 'was_home', 'winning_goals', 'yellow_cards', 'GW', 'season_x'],
      dtype='object')

In [22]:
df_2016_20[['name', 'season_x']]

                         name season_x
0             Aaron Cresswell  2016-17
1                Aaron Lennon  2016-17
2                Aaron Ramsey  2016-17
3          Abdoulaye Doucouré  2016-17
4           Abdul Rahman Baba  2016-17
...                       ...      ...
22555     Youri Tielemans 448  2019-20
22556        Yves Bissouma 53  2019-20
22557         Zech Medley 636  2019-20
22558  Ãaglar SÃ¶yÃ¼ncÃ¼ 164  2019-20
22559        Ãrjan Nyland 27  2019-20

[90496 rows x 2 columns]

In [23]:
# Creating the ID by joining the season_x and player_name to extract the team name
df_player_team_name.reset_index(inplace=True)
df_2016_20.reset_index(inplace=True)

df_player_team_name.loc[:, 'sid'] = df_player_team_name['season_x'] + df_player_team_name['name']
df_2016_20.loc[:, 'sid'] = df_2016_20['season_x'] + df_2016_20['name']

C:\Users\subas\AppData\Local\Temp\ipykernel_20812\3187702758.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_player_team_name.loc[:, 'sid'] = df_player_team_name['season_x'] + df_player_team_name['name']

In [24]:
df_player_team_name['sid']

0                     2016-17David Ospina
1                        2016-17Petr Cech
2                2016-17Laurent Koscielny
3                  2016-17Per Mertesacker
4         2016-17Gabriel Armando de Abreu
                      ...
2615                    2019-20Oskar Buur
2616                    2019-20Ryan Giles
2617    2019-20Bruno AndrÃ© Cavaco Jordao
2618        2019-20Daniel Castelo Podence
2619              2019-20Leonardo Campana
Name: sid, Length: 2620, dtype: object

In [25]:
df_player_team_name.head()

,index,season_x,name,team_name,sid
0,0,2016-17,David Ospina,Arsenal,2016-17David Ospina
1,1,2016-17,Petr Cech,Arsenal,2016-17Petr Cech
2,2,2016-17,Laurent Koscielny,Arsenal,2016-17Laurent Koscielny
3,3,2016-17,Per Mertesacker,Arsenal,2016-17Per Mertesacker
4,4,2016-17,Gabriel Armando de Abreu,Arsenal,2016-17Gabriel Armando de Abreu

In [26]:
df_2016_20[['sid', 'name', 'season_x']]

                                 sid                    name season_x
0             2016-17Aaron Cresswell         Aaron Cresswell  2016-17
1                2016-17Aaron Lennon            Aaron Lennon  2016-17
2                2016-17Aaron Ramsey            Aaron Ramsey  2016-17
3          2016-17Abdoulaye Doucouré      Abdoulaye Doucouré  2016-17
4           2016-17Abdul Rahman Baba       Abdul Rahman Baba  2016-17
...                              ...                     ...      ...
90491     2019-20Youri Tielemans 448     Youri Tielemans 448  2019-20
90492        2019-20Yves Bissouma 53        Yves Bissouma 53  2019-20
90493         2019-20Zech Medley 636         Zech Medley 636  2019-20
90494  2019-20Ãaglar SÃ¶yÃ¼ncÃ¼ 164  Ãaglar SÃ¶yÃ¼ncÃ¼ 164  2019-20
90495        2019-20Ãrjan Nyland 27        Ãrjan Nyland 27  2019-20

[90496 rows x 3 columns]

In [27]:
df_2016_20_final = pd.merge(df_2016_20, df_player_team_name, on='sid', how='left')
df_2016_20_final

,index_x,name_x,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,clearances_blocks_interceptions,...,was_home,winning_goals,yellow_cards,GW,season_x_x,sid,index_y,season_x_y,name_y,team_name
0,0,Aaron Cresswell,0,0.0,0.0,0.0,0,0,0,0.0,...,False,0.0,0,1,2016-17,2016-17Aaron Cresswell,453.0,2016-17,Aaron Cresswell,West Ham
1,1,Aaron Lennon,0,3.0,0.0,0.0,0,6,0,1.0,...,True,0.0,0,1,2016-17,2016-17Aaron Lennon,141.0,2016-17,Aaron Lennon,Everton
2,2,Aaron Ramsey,0,26.0,0.0,0.0,0,5,0,2.0,...,True,0.0,0,1,2016-17,2016-17Aaron Ramsey,15.0,2016-17,Aaron Ramsey,Arsenal
3,3,Abdoulaye Doucouré,0,0.0,0.0,0.0,0,0,0,0.0,...,False,0.0,0,1,2016-17,2016-17Abdoulaye Doucouré,NaN,NaN,NaN,NaN
4,4,Abdul Rahman Baba,0,0.0,0.0,0.0,0,0,0,0.0,...,True,0.0,0,1,2016-17,2016-17Abdul Rahman Baba,79.0,2016-17,Abdul Rahman Baba,Chelsea
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90491,22555,Youri Tielemans 448,0,NaN,NaN,NaN,0,11,0,NaN,...,True,NaN,0,47,2019-20,2019-20Youri Tielemans 448,NaN,NaN,NaN,NaN
90492,22556,Yves Bissouma 53,0,NaN,NaN,NaN,0,22,0,NaN,...,False,NaN,0,47,2019-20,2019-20Yves Bissouma 53,NaN,NaN,NaN,NaN
90493,22557,Zech Medley 636,0,NaN,NaN,NaN,0,0,0,NaN,...,True,NaN,0,47,2019-20,2019-20Zech Medley 636,NaN,NaN,NaN,NaN
90494,22558,Ãaglar SÃ¶yÃ¼ncÃ¼ 164,0,NaN,NaN,NaN,0,0,0,NaN,...,True,NaN,0,47,2019-20,2019-20Ãaglar SÃ¶yÃ¼ncÃ¼ 164,NaN,NaN,NaN,NaN
90495,22559,Ãrjan Nyland 27,0,NaN,NaN,NaN,0,0,0,NaN,...,False,NaN,0,47,2019-20,2019-20Ãrjan Nyland 27,NaN,NaN,NaN,NaN

In [28]:
df_2016_20_final[['team_name', 'name_x']]

      team_name                  name_x
0      West Ham         Aaron Cresswell
1       Everton            Aaron Lennon
2       Arsenal            Aaron Ramsey
3           NaN      Abdoulaye Doucouré
4       Chelsea       Abdul Rahman Baba
...         ...                     ...
90491       NaN     Youri Tielemans 448
90492       NaN        Yves Bissouma 53
90493       NaN         Zech Medley 636
90494       NaN  Ãaglar SÃ¶yÃ¼ncÃ¼ 164
90495       NaN        Ãrjan Nyland 27

[90496 rows x 2 columns]

In [29]:
df_2016_20_final.columns

Index(['index_x', 'name_x', 'assists', 'attempted_passes',
       'big_chances_created', 'big_chances_missed', 'bonus', 'bps',
       'clean_sheets', 'clearances_blocks_interceptions', 'completed_passes',
       'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fixture',
       'fouls', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'influence', 'key_passes', 'kickoff_time', 'kickoff_time_formatted',
       'loaned_in', 'loaned_out', 'minutes', 'offside', 'open_play_crosses',
       'opponent_team', 'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'recoveries', 'red_cards', 'round', 'saves',
       'selected', 'tackled', 'tackles', 'target_missed', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'winning_goals',
       'yellow_cards', 'GW', 'season_x_x', 'sid', 'index_y', 'season_x_y',
       'name_y', 'team_name'],
      dtype='object')

In [30]:
columns_to_drop = ['index_x', 'bonus', 'bps', 'fixture', 'id', 'kickoff_time', 'kickoff_time_formatted', 'loaned_in', 'loaned_out', 'offside', 'recoveries', 'round', 'selected', 'selected', 'transfers_balance', 'transfers_in', 'transfers_out', 'value', "sid", 'season_x_y', 'name_y']
df_2016_20_final.drop(columns=columns_to_drop, inplace=True)

In [31]:
df_2016_20_final.columns

Index(['name_x', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x_x', 'index_y', 'team_name'],
      dtype='object')

In [32]:
df_2016_20_final.rename(columns={'name_x': 'name', 'team_name': 'team', 'season_x_x':'season_x'}, inplace= True)

In [33]:
df_2020_24 = pd.concat([df_20_21, df_21_22, df_22_23, df_23_24])
df_2020_24.loc[df_2020_24['assists'] == 1, ['assists','expected_assists']]

       assists  expected_assists
28           1               NaN
30           1               NaN
84           1               NaN
103          1               NaN
121          1               NaN
...        ...               ...
20389        1              0.44
20390        1              0.05
20395        1              0.01
20417        1              0.01
20423        1              0.05

[2983 rows x 2 columns]

In [34]:
df_2016_20_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team'],
      dtype='object')

In [35]:
df_final = pd.concat([df_2016_20_final, df_2020_24])
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team', 'position', 'xP', 'bonus', 'bps',
       'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts'],
      dtype='object')

In [36]:
df_final.to_csv('df_final.csv')

In [37]:
df_final.sort_values(by=['season_x', 'GW'], ascending= True)
df_final[['season_x', 'GW', 'name', 'team', 'opponent_team']]

# Extracting the team name of opp team using team_code from master_team_list csv
df_master_team_list_new = pd.read_csv('Data\data\master_team_list.csv')
df_master_team_list_new.columns

# creating the ID to merge the team name and team code
df_master_team_list_new.rename(columns={'team_name': 'Opp_team_name'})
df_final.loc[:, 'id'] = df_final['season_x'] + df_final['opponent_team'].astype(str)
df_master_team_list_new.loc[:, 'id'] = df_master_team_list_new['season'] + df_master_team_list_new['team'].astype(str)

In [38]:
df_final = pd.merge(df_final, df_master_team_list, on='id', how='left')
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team_x', 'position', 'xP', 'bonus', 'bps',
       'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts', 'id', 'index', 'season', 'team_y',
       'team_name'],
      dtype='object')

In [39]:
df_final[['name','team_name','team_y', 'team_x','team_name']]

,name,team_name,team_y,team_x,team_name
0,Aaron Cresswell,Chelsea,4.0,West Ham,Chelsea
1,Aaron Lennon,Spurs,17.0,Everton,Spurs
2,Aaron Ramsey,Liverpool,9.0,Arsenal,Liverpool
3,Abdoulaye Doucouré,Southampton,13.0,NaN,Southampton
4,Abdul Rahman Baba,West Ham,20.0,Chelsea,West Ham
...,...,...,...,...,...
187242,Jacob Brown,NaN,NaN,Luton,NaN
187243,Jacob Brown,NaN,NaN,Luton,NaN
187244,Vicente Guaita,NaN,NaN,Crystal Palace,NaN
187245,Braian Ojeda RodrÃ­guez,NaN,NaN,Nott'm Forest,NaN
187246,Mads Bech SÃ¸rensen,NaN,NaN,Brentford,NaN

In [40]:
df_final.rename(columns={'team_name': 'Opp_team_name', 'team_x': 'team'}, inplace=True)

In [41]:
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team', 'position', 'xP', 'bonus', 'bps',
       'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts', 'id', 'index', 'season', 'team_y',
       'Opp_team_name'],
      dtype='object')

In [42]:
df_final[['Opp_team_name', 'team']]

       Opp_team_name            team
0            Chelsea        West Ham
1              Spurs         Everton
2          Liverpool         Arsenal
3        Southampton             NaN
4           West Ham         Chelsea
...              ...             ...
187242           NaN           Luton
187243           NaN           Luton
187244           NaN  Crystal Palace
187245           NaN   Nott'm Forest
187246           NaN       Brentford

[187247 rows x 2 columns]

In [43]:
def match_column(row):
    if row['was_home'] == True:
        return str(row['team']) + "-vs-" + str(row['Opp_team_name'])
    else:
        return str(row['Opp_team_name']) + '-vs-' + str(row['team'])
    
df_final['Match'] = df_final.apply(match_column, axis = 1 )
df_final['Match']

0           Chelsea-vs-West Ham
1              Everton-vs-Spurs
2          Arsenal-vs-Liverpool
3            Southampton-vs-nan
4           Chelsea-vs-West Ham
                  ...
187242             nan-vs-Luton
187243             nan-vs-Luton
187244    Crystal Palace-vs-nan
187245     nan-vs-Nott'm Forest
187246         nan-vs-Brentford
Name: Match, Length: 187247, dtype: object

In [44]:
df_final[['Match', 'team', 'Opp_team_name', 'was_home']].head(60)

                          Match            team Opp_team_name  was_home
0           Chelsea-vs-West Ham        West Ham       Chelsea     False
1              Everton-vs-Spurs         Everton         Spurs      True
2          Arsenal-vs-Liverpool         Arsenal     Liverpool      True
3            Southampton-vs-nan             NaN   Southampton     False
4           Chelsea-vs-West Ham         Chelsea      West Ham      True
5              nan-vs-Leicester             NaN     Leicester      True
6             Hull-vs-Leicester            Hull     Leicester      True
7        Middlesbrough-vs-Stoke   Middlesbrough         Stoke      True
8        Bournemouth-vs-Man Utd     Bournemouth       Man Utd      True
9        Middlesbrough-vs-Stoke   Middlesbrough         Stoke      True
10         Arsenal-vs-Liverpool       Liverpool       Arsenal     False
11       Man City-vs-Sunderland      Sunderland      Man City     False
12       Middlesbrough-vs-Stoke   Middlesbrough         Stoke      True
13       Bournemouth-vs-Man Utd     Bournemouth       Man Utd      True
14           Southampton-vs-nan             NaN   Southampton     False
15       Man City-vs-Sunderland      Sunderland      Man City     False
16               Chelsea-vs-nan             NaN       Chelsea     False
17            Hull-vs-Leicester            Hull     Leicester      True
18            Hull-vs-Leicester       Leicester          Hull     False
19         Arsenal-vs-Liverpool       Liverpool       Arsenal     False
20       Middlesbrough-vs-Stoke   Middlesbrough         Stoke      True
21       Man City-vs-Sunderland        Man City    Sunderland      True
22         Arsenal-vs-Liverpool       Liverpool       Arsenal     False
23             nan-vs-Liverpool             NaN     Liverpool      True
24       Middlesbrough-vs-Stoke   Middlesbrough         Stoke      True
25            Hull-vs-Leicester            Hull     Leicester      True
26         Arsenal-vs-Liverpool         Arsenal     Liverpool      True
27       Southampton-vs-Watford     Southampton       Watford      True
28         Arsenal-vs-Liverpool         Arsenal     Liverpool      True
29             Everton-vs-Spurs           Spurs       Everton     False
30           Southampton-vs-nan             NaN   Southampton     False
31            Hull-vs-Leicester            Hull     Leicester      True
32       Southampton-vs-Watford         Watford   Southampton     False
33       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False
34       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False
35            Hull-vs-Leicester            Hull     Leicester      True
36       Bournemouth-vs-Man Utd     Bournemouth       Man Utd      True
37           Burnley-vs-Swansea         Burnley       Swansea      True
38  Crystal Palace-vs-West Brom  Crystal Palace     West Brom      True
39               Chelsea-vs-nan             NaN       Chelsea     False
40          Chelsea-vs-West Ham        West Ham       Chelsea     False
41            Hull-vs-Leicester       Leicester          Hull     False
42          Chelsea-vs-West Ham        West Ham       Chelsea     False
43           Burnley-vs-Swansea         Swansea       Burnley     False
44       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False
45                 nan-vs-Stoke             NaN         Stoke      True
46       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False
47                 nan-vs-Spurs             NaN         Spurs      True
48          Chelsea-vs-West Ham        West Ham       Chelsea     False
49       Bournemouth-vs-Man Utd     Bournemouth       Man Utd      True
50           Burnley-vs-Swansea         Burnley       Swansea      True
51             Everton-vs-Spurs         Everton         Spurs      True
52       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False
53          Chelsea-vs-West Ham         Chelsea      West Ham      True
54       Man City-vs-Sunderland        Man City    Sunderland      True
55               Burnley-vs-nan             NaN       Burnley     False
56  Crystal Palace-vs-West Brom  Crystal Palace     West Brom      True
57             Everton-vs-Spurs           Spurs       Everton     False
58            Hull-vs-Leicester       Leicester          Hull     False
59       Bournemouth-vs-Man Utd         Man Utd   Bournemouth     False

In [45]:
filt = (df_final['Match'] == 'Chelsea-vs-West Ham') & (df_final['season_x'] == '2016-17')
col = ['name', 'team', 'Opp_team_name']
df_final.loc[filt, col].head(100)

                                   name      team Opp_team_name
0                       Aaron Cresswell  West Ham       Chelsea
4                     Abdul Rahman Baba   Chelsea      West Ham
40                         Andy Carroll  West Ham       Chelsea
42                       Angelo Ogbonna  West Ham       Chelsea
48                       Arthur Masuaku  West Ham       Chelsea
53                        Asmir Begovic   Chelsea      West Ham
68                      Bertrand Traore   Chelsea      West Ham
75                   Branislav Ivanovic   Chelsea      West Ham
130                     Darren Randolph  West Ham       Chelsea
142                        Diafra Sakho  West Ham       Chelsea
143                Diego Da Silva Costa   Chelsea      West Ham
145                       Dimitri Payet  West Ham       Chelsea
152                         Eden Hazard   Chelsea      West Ham
180                         Gary Cahill   Chelsea      West Ham
224                       James Collins  West Ham       Chelsea
258                      John Obi Mikel   Chelsea      West Ham
261                          John Terry   Chelsea      West Ham
282                         Josh Cullen  West Ham       Chelsea
286                       Juan Cuadrado   Chelsea      West Ham
304                          Kurt Zouma   Chelsea      West Ham
332                      Manuel Lanzini  West Ham       Chelsea
335                    Marco Van Ginkel   Chelsea      West Ham
345                          Mark Noble  West Ham       Chelsea
356                         Matt Miazga   Chelsea      West Ham
367                     Michail Antonio  West Ham       Chelsea
369                     Michy Batshuayi   Chelsea      West Ham
390                       Nemanja Matic   Chelsea      West Ham
396                            Ola Aina   Chelsea      West Ham
401     Oscar dos Santos Emboaba Junior   Chelsea      West Ham
412                        Pedro Obiang  West Ham       Chelsea
427                        Reece Oxford  West Ham       Chelsea
431   Robert Kenedy Nunes do Nascimento   Chelsea      West Ham
440                  Ruben Loftus-Cheek   Chelsea      West Ham
448                           Sam Byram  West Ham       Chelsea
468                    Sofiane Feghouli  West Ham       Chelsea
483                    Thibaut Courtois   Chelsea      West Ham
498                        Victor Moses   Chelsea      West Ham
513             Willian Borges Da Silva   Chelsea      West Ham
515                        Winston Reid  West Ham       Chelsea
8930                   Robert Snodgrass  West Ham       Chelsea

In [46]:

df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team', 'position', 'xP', 'bonus', 'bps',
       'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts', 'id', 'index', 'season', 'team_y',
       'Opp_team_name', 'Match'],
      dtype='object')

In [47]:
def winner(row):
    if row['team_a_score'] < row['team_h_score']:
        return str('H')
    elif row['team_a_score'] > row['team_h_score']:
        return str('A')
    else:
        return str("D")
    
df_final['Winner'] = df_final.apply(winner, axis=1)
df_final['Winner']

0         H
1         D
2         A
3         D
4         H
         ..
187242    D
187243    H
187244    D
187245    H
187246    H
Name: Winner, Length: 187247, dtype: object

In [48]:
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'red_cards', 'saves', 'tackled', 'tackles',
       'target_missed', 'team_a_score', 'team_h_score', 'threat',
       'total_points', 'was_home', 'winning_goals', 'yellow_cards', 'GW',
       'season_x', 'index_y', 'team', 'position', 'xP', 'bonus', 'bps',
       'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts', 'id', 'index', 'season', 'team_y',
       'Opp_team_name', 'Match', 'Winner'],
      dtype='object')

In [49]:
columns_to_drop = ['red_cards', 'tackled', 'saves', 'total_points', 'yellow_cards', 'position', 'xP', 'bonus', 'bps', 'fixture', 'kickoff_time', 'round', 'selected', 'transfers_balance', 'transfers_in', 'transfers_out', 'value', 'starts', 'id', 'season', 'team_y']
df_final.drop(columns=columns_to_drop, inplace=True)

In [50]:
df_final.sort_values

<bound method DataFrame.sort_values of                            name  assists  attempted_passes  \
0               Aaron Cresswell        0               0.0
1                  Aaron Lennon        0               3.0
2                  Aaron Ramsey        0              26.0
3            Abdoulaye Doucouré        0               0.0
4             Abdul Rahman Baba        0               0.0
...                         ...      ...               ...
187242              Jacob Brown        0               NaN
187243              Jacob Brown        0               NaN
187244           Vicente Guaita        0               NaN
187245  Braian Ojeda RodrÃ­guez        0               NaN
187246      Mads Bech SÃ¸rensen        0               NaN

        big_chances_created  big_chances_missed  clean_sheets  \
0                       0.0                 0.0             0
1                       0.0                 0.0             0
2                       0.0                 0.0             0
3                       0.0                 0.0             0
4                       0.0                 0.0             0
...                     ...                 ...           ...
187242                  NaN                 NaN             0
187243                  NaN                 NaN             0
187244                  NaN                 NaN             0
187245                  NaN                 NaN             0
187246                  NaN                 NaN             0

        clearances_blocks_interceptions  completed_passes  creativity  \
0                                   0.0               0.0         0.0
1                                   1.0               2.0         0.3
2                                   2.0              22.0         4.9
3                                   0.0               0.0         0.0
4                                   0.0               0.0         0.0
...                                 ...               ...         ...
187242                              NaN               NaN         0.0
187243                              NaN               NaN         0.0
187244                              NaN               NaN         0.0
187245                              NaN               NaN         0.0
187246                              NaN               NaN         0.0

        dribbles  ...  index_y            team  expected_assists  \
0            0.0  ...    453.0        West Ham               NaN
1            0.0  ...    141.0         Everton               NaN
2            1.0  ...     15.0         Arsenal               NaN
3            0.0  ...      NaN             NaN               NaN
4            0.0  ...     79.0         Chelsea               NaN
...          ...  ...      ...             ...               ...
187242       NaN  ...      NaN           Luton               0.0
187243       NaN  ...      NaN           Luton               0.0
187244       NaN  ...      NaN  Crystal Palace               0.0
187245       NaN  ...      NaN   Nott'm Forest               0.0
187246       NaN  ...      NaN       Brentford               0.0

        expected_goal_involvements  expected_goals  expected_goals_conceded  \
0                              NaN             NaN                      NaN
1                              NaN             NaN                      NaN
2                              NaN             NaN                      NaN
3                              NaN             NaN                      NaN
4                              NaN             NaN                      NaN
...                            ...             ...                      ...
187242                         0.0             0.0                      0.0
187243                         0.0             0.0                      0.0
187244                         0.0             0.0                      0.0
187245                         0.0             0.0                      0.0
187246                         0.0             0.0                      0.0

        index  Opp_team_name                  Match  Winner
0         3.0        Chelsea    Chelsea-vs-West Ham       H
1        16.0          Spurs       Everton-vs-Spurs       D
2         8.0      Liverpool   Arsenal-vs-Liverpool       A
3        12.0    Southampton     Southampton-vs-nan       D
4        19.0       West Ham    Chelsea-vs-West Ham       H
...       ...            ...                    ...     ...
187242    NaN            NaN           nan-vs-Luton       D
187243    NaN            NaN           nan-vs-Luton       H
187244    NaN            NaN  Crystal Palace-vs-nan       D
187245    NaN            NaN   nan-vs-Nott'm Forest       H
187246    NaN            NaN       nan-vs-Brentford       H

[187247 rows x 46 columns]>

In [51]:
# Sorting the value to find the past 3 match info
df_final.sort_values(by=['season_x', 'name','GW'], inplace=True)

In [52]:
df_final['was_home'].value_counts()
df_final['was_home'] = df_final['was_home'].astype(bool)

In [53]:
df_final_new = df_final

In [73]:
def Pervious_rows_function(row, df):
    current_index = row.name  # Get the index of the current row
    
    # Calculate the indices of the previous three rows
    previous_indices = [current_index - i for i in range(1, 4) if (current_index - i) >= 0]
    
    if not previous_indices:
        # If there are no previous rows (e.g., first few rows), handle this case as needed
        return None  # or any default value
    
    # Get the previous rows from the dataframe
    previous_rows = df.iloc[previous_indices]
    return previous_rows


def expected_goal_involvements(row, df):
    Previous = Pervious_rows_function(row, df)
    if Previous is None:
        return None
    # Calculate expected goal involvements based on data from the previous rows
    sum_goals_scored = Previous['goals_scored'].sum()
    sum_target_missed = Previous['target_missed'].sum()
    sum_assist = Previous['assists'].sum()
    sum_big_chance = Previous['big_chances_created'].sum()
    sum_key_passes = Previous['key_passes'].sum()

    Creativity = Previous['creativity'].mean()
    influance = Previous['influence'].mean()
    
    if (sum_goals_scored + sum_goals_scored + sum_target_missed + sum_assist + sum_big_chance + sum_key_passes ).all() != 0:
        # Calculate expected goal involvements using aggregated data from previous rows
        return ((sum_goals_scored / (sum_goals_scored + sum_goals_scored + sum_target_missed + sum_assist + sum_big_chance + sum_key_passes )) * (Creativity / 100) * (influance/ 100)) / 3
    else:
        return ((sum_goals_scored ) * (Creativity / 100) * (influance/ 100)) / 3
    

     
def expected_goals(row, df):
    Previous = Pervious_rows_function(row, df)
    if Previous is None:
        return None
    sum_goals = Previous['goals_scored'].sum()
    threat = Previous['threat'].mean()
    return (sum_goals * (threat / 100)) / 3
  
  
    
def expected_goals_conceded(row, df):
    Previous = Pervious_rows_function(row, df)
    if Previous is None:
        return None
    
    sum_goal_conceded = Previous['goals_conceded'].sum()
    error_leading_to_goal = Previous['errors_leading_to_goal']
    sum_error_leading_to_goal_attempt = Previous['errors_leading_to_goal']
    
    if (error_leading_to_goal + sum_error_leading_to_goal_attempt).all() != 0:
        expected_goal_conceded = sum_goal_conceded / (error_leading_to_goal + sum_error_leading_to_goal_attempt)
        return expected_goal_conceded / 3
    else:
        return sum_goal_conceded / 3
    
    

def expected_assists(row, df):
    
    Previous = Pervious_rows_function(row, df)
    if Previous is None:
        return None
    
    Sum_Assists = Previous['assists'].sum()
    Sum_Open_play_crosses = Previous['open_play_crosses'].sum()
    key_passes = Previous['key_passes'].sum()
    ea_index = Previous['ea_index'].mean()
    
    if (Sum_Open_play_crosses + key_passes).all() != 0:
    
        xA = (Sum_Assists / (Sum_Open_play_crosses + key_passes)) * (ea_index / 100)
        return xA / 3
    
    else:
        return (Sum_Assists * (ea_index / 100)) / 3
    


    
df_final['last_3_games_expected_assists'] = df_final.apply(lambda row: expected_assists(row, df_final), axis=1)
df_final['Last_3_games_expected_goals_conceded'] = df_final.apply(lambda row: expected_goals_conceded(row, df_final), axis=1)
df_final['last_3_games_expected_goals'] = df_final.apply(lambda row: expected_goals(row, df_final), axis=1)
df_final['last_3_games_expected_goal_involvements'] = df_final.apply(lambda row: expected_goal_involvements(row, df_final), axis=1)

In [74]:
df_final.to_csv('df_final.csv')

In [55]:
df_final['Last_3_games_expected_goals_conceded'].info()

<class 'pandas.core.series.Series'>
Index: 187247 entries, 0 to 187235
Series name: Last_3_games_expected_goals_conceded
Non-Null Count   Dtype
--------------   -----
187246 non-null  object
dtypes: object(1)
memory usage: 2.9+ MB

In [56]:
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'tackles', 'target_missed', 'team_a_score',
       'team_h_score', 'threat', 'was_home', 'winning_goals', 'GW', 'season_x',
       'index_y', 'team', 'expected_assists', 'expected_goal_involvements',
       'expected_goals', 'expected_goals_conceded', 'index', 'Opp_team_name',
       'Match', 'Winner', 'last_3_games_expected_assists',
       'Last_3_games_expected_goals_conceded', 'last_3_games_expected_goals',
       'last_3_games_expected_goal_involvements'],
      dtype='object')

In [57]:
# Identify categorical columns
categorical_columns = df_final.select_dtypes(include=['object']).columns

# Backfill missing values in categorical columns with same player's data
df_final[categorical_columns] = df_final.groupby('name')[categorical_columns].transform(lambda x: x.bfill())

# Now, numerical columns can be backfilled normally
df_final = df_final.fillna(method='bfill')

# Verify the result
print(df_final.head())

C:\Users\subas\AppData\Local\Temp\ipykernel_20812\3721865285.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_final = df_final.fillna(method='bfill')

                  name  assists  attempted_passes  big_chances_created  \
0      Aaron Cresswell        0               0.0                  0.0
6611   Aaron Cresswell        0               0.0                  0.0
13127  Aaron Cresswell        0               0.0                  0.0
20153  Aaron Cresswell        0               0.0                  0.0
20734  Aaron Cresswell        0               0.0                  0.0

       big_chances_missed  clean_sheets  clearances_blocks_interceptions  \
0                     0.0             0                              0.0
6611                  0.0             0                              0.0
13127                 0.0             0                              0.0
20153                 0.0             0                              0.0
20734                 0.0             0                              0.0

       completed_passes  creativity  dribbles  ...  expected_goals  \
0                   0.0         0.0       0.0  ...             0.0
6611                0.0         0.0       0.0  ...             0.0
13127               0.0         0.0       0.0  ...             0.0
20153               0.0         0.0       0.0  ...             0.0
20734               0.0         0.0       0.0  ...             0.0

       expected_goals_conceded  index  Opp_team_name                    Match  \
0                          0.0    3.0        Chelsea      Chelsea-vs-West Ham
6611                       0.0    1.0    Bournemouth  West Ham-vs-Bournemouth
13127                      0.0    9.0       Man City     Man City-vs-West Ham
20153                      0.0   17.0        Watford      West Ham-vs-Watford
20734                      0.0   18.0      West Brom    West Brom-vs-West Ham

       Winner  last_3_games_expected_assists  \
0           H                            0.0
6611        H                            0.0
13127       H                            0.0
20153       A                            0.0
20734       H                            0.0

       Last_3_games_expected_goals_conceded  last_3_games_expected_goals  \
0                                       0.0                     0.000000
6611                                    0.0                     0.000000
13127                              0.333333                     0.000000
20153                                   1.0                     0.101111
20734                                   0.0                     0.000000

       last_3_games_expected_goal_involvements
0                                     0.000000
6611                                  0.000000
13127                                 0.000000
20153                                 0.000628
20734                                 0.000000

[5 rows x 50 columns]

In [58]:
# Identify numerical columns and filling the value with the average of same
numerical_columns = df_final.select_dtypes(include=['float64', 'int64']).columns

df_final[categorical_columns] = df_final.groupby('name')[categorical_columns].transform(lambda x: x.bfill())


df_final[numerical_columns] = df_final.groupby('name')[numerical_columns].transform(lambda x: x.fillna(x.mean()))

df_final.head()

,name,assists,attempted_passes,big_chances_created,big_chances_missed,clean_sheets,clearances_blocks_interceptions,completed_passes,creativity,dribbles,...,expected_goals,expected_goals_conceded,index,Opp_team_name,Match,Winner,last_3_games_expected_assists,Last_3_games_expected_goals_conceded,last_3_games_expected_goals,last_3_games_expected_goal_involvements
0,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,Chelsea,Chelsea-vs-West Ham,H,0.0,0.0,0.000000,0.000000
6611,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,Bournemouth,West Ham-vs-Bournemouth,H,0.0,0.0,0.000000,0.000000
13127,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.0,Man City,Man City-vs-West Ham,H,0.0,0.333333,0.000000,0.000000
20153,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,17.0,Watford,West Ham-vs-Watford,A,0.0,1.0,0.101111,0.000628
20734,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,18.0,West Brom,West Brom-vs-West Ham,H,0.0,0.0,0.000000,0.000000

In [59]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187247 entries, 0 to 187235
Data columns (total 50 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   name                                     187247 non-null  object
 1   assists                                  187247 non-null  int64
 2   attempted_passes                         96186 non-null   float64
 3   big_chances_created                      96186 non-null   float64
 4   big_chances_missed                       96186 non-null   float64
 5   clean_sheets                             187247 non-null  int64
 6   clearances_blocks_interceptions          96186 non-null   float64
 7   completed_passes                         96186 non-null   float64
 8   creativity                               187247 non-null  float64
 9   dribbles                                 96186 non-null   float64
 10  ea_index                                 96186 non-null   float64
 11  element                                  187247 non-null  int64
 12  errors_leading_to_goal                   96186 non-null   float64
 13  errors_leading_to_goal_attempt           96186 non-null   float64
 14  fouls                                    96186 non-null   float64
 15  goals_conceded                           187247 non-null  int64
 16  goals_scored                             187247 non-null  int64
 17  ict_index                                187247 non-null  float64
 18  influence                                187247 non-null  float64
 19  key_passes                               96186 non-null   float64
 20  minutes                                  187247 non-null  int64
 21  open_play_crosses                        96186 non-null   float64
 22  opponent_team                            187247 non-null  int64
 23  own_goals                                187247 non-null  int64
 24  penalties_conceded                       96186 non-null   float64
 25  penalties_missed                         187247 non-null  int64
 26  penalties_saved                          187247 non-null  int64
 27  tackles                                  96186 non-null   float64
 28  target_missed                            96186 non-null   float64
 29  team_a_score                             187247 non-null  float64
 30  team_h_score                             187247 non-null  float64
 31  threat                                   187247 non-null  float64
 32  was_home                                 187247 non-null  bool
 33  winning_goals                            96186 non-null   float64
 34  GW                                       187247 non-null  int64
 35  season_x                                 187247 non-null  object
 36  index_y                                  74282 non-null   float64
 37  team                                     187247 non-null  object
 38  expected_assists                         187247 non-null  float64
 39  expected_goal_involvements               187247 non-null  float64
 40  expected_goals                           187247 non-null  float64
 41  expected_goals_conceded                  187247 non-null  float64
 42  index                                    181912 non-null  float64
 43  Opp_team_name                            166813 non-null  object
 44  Match                                    187247 non-null  object
 45  Winner                                   187247 non-null  object
 46  last_3_games_expected_assists            96335 non-null   float64
 47  Last_3_games_expected_goals_conceded     187247 non-null  object
 48  last_3_games_expected_goals              187247 non-null  float64
 49  last_3_games_expected_goal_involvements  187247 non-null  float64
dtypes: bool(1), float64(31), int64(11), object(7)
memory usage: 71.6+ MB

In [60]:
# Define a function to fill missing values with the median of the same player's data
def fill_na_with_player_median(df, column):
    player_median = df.groupby('name')[column].transform('median')
    df[column] = df[column].fillna(player_median)
    return df

# Iterate over each numerical column in the DataFrame
for column in numerical_columns:
    df_final = fill_na_with_player_median(df_final, column)


df_final.head()

,name,assists,attempted_passes,big_chances_created,big_chances_missed,clean_sheets,clearances_blocks_interceptions,completed_passes,creativity,dribbles,...,expected_goals,expected_goals_conceded,index,Opp_team_name,Match,Winner,last_3_games_expected_assists,Last_3_games_expected_goals_conceded,last_3_games_expected_goals,last_3_games_expected_goal_involvements
0,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,Chelsea,Chelsea-vs-West Ham,H,0.0,0.0,0.000000,0.000000
6611,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,Bournemouth,West Ham-vs-Bournemouth,H,0.0,0.0,0.000000,0.000000
13127,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.0,Man City,Man City-vs-West Ham,H,0.0,0.333333,0.000000,0.000000
20153,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,17.0,Watford,West Ham-vs-Watford,A,0.0,1.0,0.101111,0.000628
20734,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,18.0,West Brom,West Brom-vs-West Ham,H,0.0,0.0,0.000000,0.000000

In [61]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187247 entries, 0 to 187235
Data columns (total 50 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   name                                     187247 non-null  object
 1   assists                                  187247 non-null  int64
 2   attempted_passes                         96186 non-null   float64
 3   big_chances_created                      96186 non-null   float64
 4   big_chances_missed                       96186 non-null   float64
 5   clean_sheets                             187247 non-null  int64
 6   clearances_blocks_interceptions          96186 non-null   float64
 7   completed_passes                         96186 non-null   float64
 8   creativity                               187247 non-null  float64
 9   dribbles                                 96186 non-null   float64
 10  ea_index                                 96186 non-null   float64
 11  element                                  187247 non-null  int64
 12  errors_leading_to_goal                   96186 non-null   float64
 13  errors_leading_to_goal_attempt           96186 non-null   float64
 14  fouls                                    96186 non-null   float64
 15  goals_conceded                           187247 non-null  int64
 16  goals_scored                             187247 non-null  int64
 17  ict_index                                187247 non-null  float64
 18  influence                                187247 non-null  float64
 19  key_passes                               96186 non-null   float64
 20  minutes                                  187247 non-null  int64
 21  open_play_crosses                        96186 non-null   float64
 22  opponent_team                            187247 non-null  int64
 23  own_goals                                187247 non-null  int64
 24  penalties_conceded                       96186 non-null   float64
 25  penalties_missed                         187247 non-null  int64
 26  penalties_saved                          187247 non-null  int64
 27  tackles                                  96186 non-null   float64
 28  target_missed                            96186 non-null   float64
 29  team_a_score                             187247 non-null  float64
 30  team_h_score                             187247 non-null  float64
 31  threat                                   187247 non-null  float64
 32  was_home                                 187247 non-null  bool
 33  winning_goals                            96186 non-null   float64
 34  GW                                       187247 non-null  int64
 35  season_x                                 187247 non-null  object
 36  index_y                                  74282 non-null   float64
 37  team                                     187247 non-null  object
 38  expected_assists                         187247 non-null  float64
 39  expected_goal_involvements               187247 non-null  float64
 40  expected_goals                           187247 non-null  float64
 41  expected_goals_conceded                  187247 non-null  float64
 42  index                                    181912 non-null  float64
 43  Opp_team_name                            166813 non-null  object
 44  Match                                    187247 non-null  object
 45  Winner                                   187247 non-null  object
 46  last_3_games_expected_assists            96335 non-null   float64
 47  Last_3_games_expected_goals_conceded     187247 non-null  object
 48  last_3_games_expected_goals              187247 non-null  float64
 49  last_3_games_expected_goal_involvements  187247 non-null  float64
dtypes: bool(1), float64(31), int64(11), object(7)
memory usage: 71.6+ MB

In [62]:
numerical_columns = df_final.select_dtypes(include='float64').columns

In [63]:
# Define a function to fill missing values with the median of the same player's data
def fill_na_with_player_median(df, column):
    player_median = df.groupby('name')[column].transform('median')
    df[column] = df[column].fillna(player_median)
    return df

# Iterate over each numerical column in the DataFrame
for column in numerical_columns:
    # Fill missing values for the column with the median of the same player's data
    df_final = fill_na_with_player_median(df_final, column)


df_final.head()

,name,assists,attempted_passes,big_chances_created,big_chances_missed,clean_sheets,clearances_blocks_interceptions,completed_passes,creativity,dribbles,...,expected_goals,expected_goals_conceded,index,Opp_team_name,Match,Winner,last_3_games_expected_assists,Last_3_games_expected_goals_conceded,last_3_games_expected_goals,last_3_games_expected_goal_involvements
0,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,Chelsea,Chelsea-vs-West Ham,H,0.0,0.0,0.000000,0.000000
6611,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,Bournemouth,West Ham-vs-Bournemouth,H,0.0,0.0,0.000000,0.000000
13127,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.0,Man City,Man City-vs-West Ham,H,0.0,0.333333,0.000000,0.000000
20153,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,17.0,Watford,West Ham-vs-Watford,A,0.0,1.0,0.101111,0.000628
20734,Aaron Cresswell,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,18.0,West Brom,West Brom-vs-West Ham,H,0.0,0.0,0.000000,0.000000

In [71]:
# Define a function to fill missing values with the median of the entire column
def fill_na_with_column_median(df, column):
    column_median = df[column].median()
    print(f"Median value for column '{column}': {column_median}\n")
    
    # Fill NaN values with the calculated median of the entire column
    df[column] = df[column].fillna(column_median)
    
    # Print number of NaN values after filling
    print(f"Number of NaN values in '{column}' after filling: {df[column].isna().sum()}\n")
    
    return df

# Iterate over each numerical column in the DataFrame
for column in numerical_columns:
    df_final = fill_na_with_column_median(df_final, column)

# Display the head of the DataFrame after filling missing values
print(df_final.head())

Median value for column 'attempted_passes': 8.0

Number of NaN values in 'attempted_passes' after filling: 0

Median value for column 'big_chances_created': 0.0

Number of NaN values in 'big_chances_created' after filling: 0

Median value for column 'big_chances_missed': 0.0

Number of NaN values in 'big_chances_missed' after filling: 0

Median value for column 'clearances_blocks_interceptions': 0.0

Number of NaN values in 'clearances_blocks_interceptions' after filling: 0

Median value for column 'completed_passes': 5.5

Number of NaN values in 'completed_passes' after filling: 0

Median value for column 'creativity': 0.0

Number of NaN values in 'creativity' after filling: 0

Median value for column 'dribbles': 0.0

Number of NaN values in 'dribbles' after filling: 0

Median value for column 'ea_index': 0.0

Number of NaN values in 'ea_index' after filling: 0

Median value for column 'errors_leading_to_goal': 0.0

Number of NaN values in 'errors_leading_to_goal' after filling: 0

Median value for column 'errors_leading_to_goal_attempt': 0.0

Number of NaN values in 'errors_leading_to_goal_attempt' after filling: 0

Median value for column 'fouls': 0.0

Number of NaN values in 'fouls' after filling: 0

Median value for column 'ict_index': 0.0

Number of NaN values in 'ict_index' after filling: 0

Median value for column 'influence': 0.0

Number of NaN values in 'influence' after filling: 0

Median value for column 'key_passes': 0.0

Number of NaN values in 'key_passes' after filling: 0

Median value for column 'open_play_crosses': 0.0

Number of NaN values in 'open_play_crosses' after filling: 0

Median value for column 'penalties_conceded': 0.0

Number of NaN values in 'penalties_conceded' after filling: 0

Median value for column 'tackles': 0.0

Number of NaN values in 'tackles' after filling: 0

Median value for column 'target_missed': 0.0

Number of NaN values in 'target_missed' after filling: 0

Median value for column 'team_a_score': 1.0

Number of NaN values in 'team_a_score' after filling: 0

Median value for column 'team_h_score': 1.0

Number of NaN values in 'team_h_score' after filling: 0

Median value for column 'threat': 0.0

Number of NaN values in 'threat' after filling: 0

Median value for column 'winning_goals': 0.0

Number of NaN values in 'winning_goals' after filling: 0

Median value for column 'index_y': 695.5

Number of NaN values in 'index_y' after filling: 0

Median value for column 'expected_assists': 0.0

Number of NaN values in 'expected_assists' after filling: 0

Median value for column 'expected_goal_involvements': 0.0

Number of NaN values in 'expected_goal_involvements' after filling: 0

Median value for column 'expected_goals': 0.0

Number of NaN values in 'expected_goals' after filling: 0

Median value for column 'expected_goals_conceded': 0.0

Number of NaN values in 'expected_goals_conceded' after filling: 0

Median value for column 'index': 78.0

Number of NaN values in 'index' after filling: 0

Median value for column 'last_3_games_expected_assists': 0.0

Number of NaN values in 'last_3_games_expected_assists' after filling: 0

Median value for column 'last_3_games_expected_goals': 0.0

Number of NaN values in 'last_3_games_expected_goals' after filling: 0

Median value for column 'last_3_games_expected_goal_involvements': 0.0

Number of NaN values in 'last_3_games_expected_goal_involvements' after filling: 0

                  name  assists  attempted_passes  big_chances_created  \
0      Aaron Cresswell        0               0.0                  0.0
6611   Aaron Cresswell        0               0.0                  0.0
13127  Aaron Cresswell        0               0.0                  0.0
20153  Aaron Cresswell        0               0.0                  0.0
20734  Aaron Cresswell        0               0.0                  0.0

       big_chances_missed  clean_sheets  clearances_blocks_interceptions  \
0                     0.0             0                              0.0
6611                  0.0             0                              0.0
13127                 0.0             0                              0.0
20153                 0.0             0                              0.0
20734                 0.0             0                              0.0

       completed_passes  creativity  dribbles  ...  expected_goals  \
0                   0.0         0.0       0.0  ...             0.0
6611                0.0         0.0       0.0  ...             0.0
13127               0.0         0.0       0.0  ...             0.0
20153               0.0         0.0       0.0  ...             0.0
20734               0.0         0.0       0.0  ...             0.0

       expected_goals_conceded  index  Opp_team_name                    Match  \
0                          0.0    3.0        Chelsea      Chelsea-vs-West Ham
6611                       0.0    1.0    Bournemouth  West Ham-vs-Bournemouth
13127                      0.0    9.0       Man City     Man City-vs-West Ham
20153                      0.0   17.0        Watford      West Ham-vs-Watford
20734                      0.0   18.0      West Brom    West Brom-vs-West Ham

       Winner  last_3_games_expected_assists  \
0           H                            0.0
6611        H                            0.0
13127       H                            0.0
20153       A                            0.0
20734       H                            0.0

       Last_3_games_expected_goals_conceded  last_3_games_expected_goals  \
0                                       0.0                     0.000000
6611                                    0.0                     0.000000
13127                              0.333333                     0.000000
20153                                   1.0                     0.101111
20734                                   0.0                     0.000000

       last_3_games_expected_goal_involvements
0                                     0.000000
6611                                  0.000000
13127                                 0.000000
20153                                 0.000628
20734                                 0.000000

[5 rows x 50 columns]

In [72]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187247 entries, 0 to 187235
Data columns (total 50 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   name                                     187247 non-null  object
 1   assists                                  187247 non-null  int64
 2   attempted_passes                         187247 non-null  float64
 3   big_chances_created                      187247 non-null  float64
 4   big_chances_missed                       187247 non-null  float64
 5   clean_sheets                             187247 non-null  int64
 6   clearances_blocks_interceptions          187247 non-null  float64
 7   completed_passes                         187247 non-null  float64
 8   creativity                               187247 non-null  float64
 9   dribbles                                 187247 non-null  float64
 10  ea_index                                 187247 non-null  float64
 11  element                                  187247 non-null  int64
 12  errors_leading_to_goal                   187247 non-null  float64
 13  errors_leading_to_goal_attempt           187247 non-null  float64
 14  fouls                                    187247 non-null  float64
 15  goals_conceded                           187247 non-null  int64
 16  goals_scored                             187247 non-null  int64
 17  ict_index                                187247 non-null  float64
 18  influence                                187247 non-null  float64
 19  key_passes                               187247 non-null  float64
 20  minutes                                  187247 non-null  int64
 21  open_play_crosses                        187247 non-null  float64
 22  opponent_team                            187247 non-null  int64
 23  own_goals                                187247 non-null  int64
 24  penalties_conceded                       187247 non-null  float64
 25  penalties_missed                         187247 non-null  int64
 26  penalties_saved                          187247 non-null  int64
 27  tackles                                  187247 non-null  float64
 28  target_missed                            187247 non-null  float64
 29  team_a_score                             187247 non-null  float64
 30  team_h_score                             187247 non-null  float64
 31  threat                                   187247 non-null  float64
 32  was_home                                 187247 non-null  bool
 33  winning_goals                            187247 non-null  float64
 34  GW                                       187247 non-null  int64
 35  season_x                                 187247 non-null  object
 36  index_y                                  187247 non-null  float64
 37  team                                     187247 non-null  object
 38  expected_assists                         187247 non-null  float64
 39  expected_goal_involvements               187247 non-null  float64
 40  expected_goals                           187247 non-null  float64
 41  expected_goals_conceded                  187247 non-null  float64
 42  index                                    187247 non-null  float64
 43  Opp_team_name                            166813 non-null  object
 44  Match                                    187247 non-null  object
 45  Winner                                   187247 non-null  object
 46  last_3_games_expected_assists            187247 non-null  float64
 47  Last_3_games_expected_goals_conceded     187247 non-null  object
 48  last_3_games_expected_goals              187247 non-null  float64
 49  last_3_games_expected_goal_involvements  187247 non-null  float64
dtypes: bool(1), float64(31), int64(11), object(7)
memory usage: 71.6+ MB

In [65]:
df_final.columns

Index(['name', 'assists', 'attempted_passes', 'big_chances_created',
       'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions',
       'completed_passes', 'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls',
       'goals_conceded', 'goals_scored', 'ict_index', 'influence',
       'key_passes', 'minutes', 'open_play_crosses', 'opponent_team',
       'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'tackles', 'target_missed', 'team_a_score',
       'team_h_score', 'threat', 'was_home', 'winning_goals', 'GW', 'season_x',
       'index_y', 'team', 'expected_assists', 'expected_goal_involvements',
       'expected_goals', 'expected_goals_conceded', 'index', 'Opp_team_name',
       'Match', 'Winner', 'last_3_games_expected_assists',
       'Last_3_games_expected_goals_conceded', 'last_3_games_expected_goals',
       'last_3_games_expected_goal_involvements'],
      dtype='object')

In [75]:
col_to_drop = ['assists', 'attempted_passes', 'big_chances_created', 'big_chances_missed', 'clean_sheets', 'clearances_blocks_interceptions', 'completed_passes', 'dribbles', 'ea_index', 'element', 'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fouls', 'goals_conceded', 'goals_scored', 'influence',  'key_passes', 'minutes',  'open_play_crosses', 'own_goals', 'penalties_conceded', 'penalties_missed', 'penalties_saved',  'tackles', 'target_missed', 'index_y',  'index' ]

In [76]:
df_final.drop(columns= col_to_drop, inplace=True)
df_final.columns

Index(['name', 'creativity', 'ict_index', 'opponent_team', 'team_a_score',
       'team_h_score', 'threat', 'was_home', 'winning_goals', 'GW', 'season_x',
       'team', 'expected_assists', 'expected_goal_involvements',
       'expected_goals', 'expected_goals_conceded', 'Opp_team_name', 'Match',
       'Winner', 'last_3_games_expected_assists',
       'Last_3_games_expected_goals_conceded', 'last_3_games_expected_goals',
       'last_3_games_expected_goal_involvements'],
      dtype='object')

In [77]:
df_final.columns

Index(['name', 'creativity', 'ict_index', 'opponent_team', 'team_a_score',
       'team_h_score', 'threat', 'was_home', 'winning_goals', 'GW', 'season_x',
       'team', 'expected_assists', 'expected_goal_involvements',
       'expected_goals', 'expected_goals_conceded', 'Opp_team_name', 'Match',
       'Winner', 'last_3_games_expected_assists',
       'Last_3_games_expected_goals_conceded', 'last_3_games_expected_goals',
       'last_3_games_expected_goal_involvements'],
      dtype='object')

In [149]:
def winner_team(row):
    if row.was_home == True and (row.team_a_score < row.team_h_score):
        return 'W'
    elif row.was_home == False and (row.team_a_score < row.team_h_score):
        return "L"
    else:
        return "D"
    
df_final['Winner_match'] = df_final.apply(winner_team, axis=1)

df_final['Winner_match'].value_counts()

Winner_match
D    102282
L     42883
W     42082
Name: count, dtype: int64

# Creating the matrix of player stats for each games

In [150]:
df_final.columns

Index(['name', 'creativity', 'ict_index', 'opponent_team', 'team_a_score',
       'team_h_score', 'threat', 'was_home', 'winning_goals', 'GW', 'season_x',
       'team', 'expected_assists', 'expected_goal_involvements',
       'expected_goals', 'expected_goals_conceded', 'Opp_team_name', 'Match',
       'Winner', 'last_3_games_expected_assists',
       'Last_3_games_expected_goals_conceded', 'last_3_games_expected_goals',
       'last_3_games_expected_goal_involvements', 'Winner_match'],
      dtype='object')

In [188]:
drop_column = ['opponent_team','was_home','name', 'team_a_score', 'team_h_score', 'winning_goals', 'GW', 'Winner', 'Opp_team_name', 'Opp_team_name']
df_final_matrix = df_final.drop(columns=drop_column)
df_final_matrix.info()

<class 'pandas.core.frame.DataFrame'>
Index: 187247 entries, 0 to 187235
Data columns (total 15 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   creativity                               187247 non-null  float64
 1   ict_index                                187247 non-null  float64
 2   threat                                   187247 non-null  float64
 3   season_x                                 187247 non-null  object
 4   team                                     187247 non-null  object
 5   expected_assists                         187247 non-null  float64
 6   expected_goal_involvements               187247 non-null  float64
 7   expected_goals                           187247 non-null  float64
 8   expected_goals_conceded                  187247 non-null  float64
 9   Match                                    187247 non-null  object
 10  last_3_games_expected_assists            187246 non-null  float64
 11  Last_3_games_expected_goals_conceded     187246 non-null  object
 12  last_3_games_expected_goals              187246 non-null  float64
 13  last_3_games_expected_goal_involvements  187246 non-null  float64
 14  Winner_match                             187247 non-null  object
dtypes: float64(10), object(5)
memory usage: 22.9+ MB

In [1]:
df_final_matrix.columns
df_final_matrix.to_csv("df_converting_to_matrix.csv")

NameError: name 'df_final_matrix' is not defined

In [194]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# Sample function to pad or truncate a list to a specific length
def pad_truncate(lst, length, pad_value=0):
    return lst[:length] + [pad_value] * (length - len(lst))

# Assuming df_final_matrix is your DataFrame containing the dataset
# Select relevant columns and group by Match and Season_x
selected_columns = [
    'creativity', 'ict_index', 'threat', 'season_x', 'team',
    'expected_assists', 'expected_goal_involvements',
    'expected_goals', 'expected_goals_conceded', 'Match', 'Winner_match',
    'last_3_games_expected_assists', 'Last_3_games_expected_goals_conceded',
    'last_3_games_expected_goals', 'last_3_games_expected_goal_involvements'
]
df_selected = df_final_matrix[selected_columns]

# Group by Match and Season_x, and select the first 22 players for each match
grouped = df_selected.groupby(['Match', 'season_x', 'team']).head(11)

# Initialize lists to store match data
X = []
y = []

# Iterate over each match and collect player statistics and winner
for _, group in grouped.groupby(['Match', 'season_x', 'team']):
    # Extract player statistics for the current match
    match_stats = group[[
        'creativity', 'ict_index', 'threat',
        'expected_assists', 'expected_goal_involvements',
        'expected_goals', 'expected_goals_conceded',
        'last_3_games_expected_assists',
        'Last_3_games_expected_goals_conceded',
        'last_3_games_expected_goals',
        'last_3_games_expected_goal_involvements'
    ]].values.tolist()
    
    
    # Ensure there are exactly 22 players for each match
    if len(match_stats) == 11:
        # Pad or truncate player statistics to ensure fixed length (e.g., 8 features per player)
        padded_match_stats = [pad_truncate(player_stats, 8) for player_stats in match_stats]
        
        # Append padded match statistics to X
        X.append(padded_match_stats)
        
        # Extract winner for the current match
        winner = group['Winner_match'].iloc[0]
        y.append(winner)

# Convert lists to numpy arrays
X = np.array(X)
y = np.array(y)

# Check the shape of the resulting X array
num_matches, max_players_per_match, num_features_per_player = X.shape
print("Shape of X:", X.shape)

# Flatten the 3D tensor into a 2D array (matrix) for machine learning models
X_flat = X.reshape(num_matches, -1)
print(X_flat.shape)

Shape of X: (3920, 11, 8)
(3920, 88)

In [209]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

# Sample function to pad or truncate a list to a specific length
def pad_truncate(lst, length, pad_value=0):
    return lst[:length] + [pad_value] * (length - len(lst))

# Assuming df_final_matrix is your DataFrame containing the dataset
# Select relevant columns and group by Match and Season_x
selected_columns = [
    'creativity', 'ict_index', 'threat', 'season_x', 'team',
    'expected_assists', 'expected_goal_involvements',
    'expected_goals', 'expected_goals_conceded', 'Match', 'Winner_match',
    'last_3_games_expected_assists', 'Last_3_games_expected_goals_conceded',
    'last_3_games_expected_goals', 'last_3_games_expected_goal_involvements'
]
df_selected = df_final_matrix[selected_columns]

# Group by Match and Season_x, and select the first 11 players for each match
grouped = df_selected.groupby(['Match', 'season_x', 'team']).head(11)

# Initialize lists to store match data
X = []
y = []

# Iterate over each match and collect player statistics and winner
for _, group in grouped.groupby(['Match', 'season_x', 'team']):
    # Extract player statistics for the current match
    match_stats = group[[
        'creativity', 'ict_index', 'threat',
        'expected_assists', 'expected_goal_involvements',
        'expected_goals', 'expected_goals_conceded',
        'last_3_games_expected_assists',
        'Last_3_games_expected_goals_conceded',
        'last_3_games_expected_goals',
        'last_3_games_expected_goal_involvements'
    ]].values.tolist()
    
    # Ensure there are exactly 11 players for each match
    if len(match_stats) == 11:
        # Pad or truncate player statistics to ensure fixed length (e.g., 11 features per player)
        padded_match_stats = [pad_truncate(player_stats, 8) for player_stats in match_stats]
        
        # Append padded match statistics to X
        X.append(padded_match_stats)
        
        # Extract winner for the current match
        winner = group['Winner_match'].iloc[0]
        y.append(winner)

# Convert X to a NumPy array
X = np.array(X)

# Check the shape of the resulting X array
print("Shape of X before flattening:", X.shape)

# Flatten the 3D tensor into a 2D array (matrix) for machine learning models
# Reshape X into (num_matches, 11 * num_features_per_player)
X_flat = X.reshape(X.shape[0], -1)

# Convert y to a NumPy array
y = np.array(y)

# Check the shape of the resulting X array
print("Shape of X after flattening:", X_flat.shape)

import numpy as np

# Assuming X_flat is your flattened array of shape (3920, 88)
np.save('X_flat.npy', X_flat)
print("X_flat saved successfully.")
np.save('Y_flat.npy', y)
print('Saved')

Shape of X before flattening: (3920, 11, 8)
Shape of X after flattening: (3920, 88)

In [ ]:
# Spliting the home team data and away team data
filt = df_final['was_home'] == True
df_home_team = df_final.loc[filt]
df_away_team = df_final.loc[~filt]

In [ ]:

df_home_team.drop(columns='was_home', inplace=True)
df_away_team.drop(columns= 'was_home', inplace=True)

In [ ]:
# Displaying Home team columns
df_home_team.columns

In [ ]:
# Group by 'Match' and 'season_x' and calculate the sum of each group
df_home_team = df_home_team.groupby(['Match', 'season_x','Winner']).sum().reset_index()

df_away_team = df_away_team.groupby(['Match', 'season_x','Winner']).sum().reset_index()

In [ ]:
df_away_team

In [ ]:
#Merging the df after feature engineering
df_after_feature_engg = pd.merge(df_home_team, df_away_team, on = ['Match', 'season_x', 'Winner'], suffixes=('_Home', '_Away'))

In [ ]:
df_after_feature_engg.info()

In [ ]:
df_after_feature_engg.to_csv('data_after_feature_engineering.csv')