In [26]:
import pandas as pd
import numpy as np

In [27]:
df_merged = pd.read_csv('Merged_2016_2024.csv')
df_merged.head(5)

C:\Users\subas\AppData\Local\Temp\ipykernel_2508\3555470725.py:1: DtypeWarning: Columns (26,58,59) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged = pd.read_csv('Merged_2016_2024.csv')

,Unnamed: 0,name,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,clearances_blocks_interceptions,...,GW,season_x,position,team,xP,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,starts
0,0,Aaron_Cresswell,0,0.0,0.0,0.0,0,0,0,0.0,...,1,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Aaron_Lennon,0,3.0,0.0,0.0,0,6,0,1.0,...,1,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Aaron_Ramsey,0,26.0,0.0,0.0,0,5,0,2.0,...,1,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Abdoulaye_Doucouré,0,0.0,0.0,0.0,0,0,0,0.0,...,1,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Abdul Rahman_Baba,0,0.0,0.0,0.0,0,0,0,0.0,...,1,2016-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_merged.columns

Index(['Unnamed: 0', 'name', 'assists', 'attempted_passes',
       'big_chances_created', 'big_chances_missed', 'bonus', 'bps',
       'clean_sheets', 'clearances_blocks_interceptions', 'completed_passes',
       'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fixture',
       'fouls', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'influence', 'key_passes', 'kickoff_time', 'kickoff_time_formatted',
       'loaned_in', 'loaned_out', 'minutes', 'offside', 'open_play_crosses',
       'opponent_team', 'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'recoveries', 'red_cards', 'round', 'saves',
       'selected', 'tackled', 'tackles', 'target_missed', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'winning_goals',
       'yellow_cards', 'GW', 'season_x', 'position', 'team', 'xP',
       'expected_assists', 'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts'],
      dtype='object')

In [29]:
df_merged.loc[df_merged['team'] != '', ['season_x', 'name', 'team', 'position']].head(100)

   season_x                name team position
0   2016-17     Aaron_Cresswell  NaN      NaN
1   2016-17        Aaron_Lennon  NaN      NaN
2   2016-17        Aaron_Ramsey  NaN      NaN
3   2016-17  Abdoulaye_Doucouré  NaN      NaN
4   2016-17   Abdul Rahman_Baba  NaN      NaN
..      ...                 ...  ...      ...
95  2016-17     Christian_Fuchs  NaN      NaN
96  2016-17  Christian_Kabasele  NaN      NaN
97  2016-17         Chris_Brunt  NaN      NaN
98  2016-17          Chris_Long  NaN      NaN
99  2016-17      Chris_Smalling  NaN      NaN

[100 rows x 4 columns]

In [30]:
df_merged['name'] =df_merged['name'].str.replace('_'," ")
df_merged['name'] = df_merged['name'].str.replace(r'\d+', '')
df_merged['name'] = df_merged['name'].str.strip()

In [31]:
df_merged.loc[df_merged['team'] != '', ['season_x', 'name', 'team', 'position']].head(100)

   season_x                name team position
0   2016-17     Aaron Cresswell  NaN      NaN
1   2016-17        Aaron Lennon  NaN      NaN
2   2016-17        Aaron Ramsey  NaN      NaN
3   2016-17  Abdoulaye Doucouré  NaN      NaN
4   2016-17   Abdul Rahman Baba  NaN      NaN
..      ...                 ...  ...      ...
95  2016-17     Christian Fuchs  NaN      NaN
96  2016-17  Christian Kabasele  NaN      NaN
97  2016-17         Chris Brunt  NaN      NaN
98  2016-17          Chris Long  NaN      NaN
99  2016-17      Chris Smalling  NaN      NaN

[100 rows x 4 columns]

In [32]:
df_merged[['season_x', 'name', 'team','opponent_team']]

       season_x                     name            team  opponent_team
0       2016-17          Aaron Cresswell             NaN              4
1       2016-17             Aaron Lennon             NaN             17
2       2016-17             Aaron Ramsey             NaN              9
3       2016-17       Abdoulaye Doucouré             NaN             13
4       2016-17        Abdul Rahman Baba             NaN             20
...         ...                      ...             ...            ...
187242  2023-24              Jacob Brown           Luton              8
187243  2023-24              Jacob Brown           Luton              3
187244  2023-24           Vicente Guaita  Crystal Palace             12
187245  2023-24  Braian Ojeda RodrÃ­guez   Nott'm Forest              5
187246  2023-24      Mads Bech SÃ¸rensen       Brentford              1

[187247 rows x 4 columns]

In [33]:
player_team_mapping = df_merged.groupby('name')['team'].last().to_dict()

df_merged_new = df_merged.copy()
# Then, fill the NaN values in the 'team' column using the mapping
df_merged_new['team'] = df_merged_new.apply(lambda row: player_team_mapping[row['name']] if pd.isnull(row['team']) else row['team'], axis=1)

# Now, the NaN values in the 'team' column should be filled with the corresponding non-null values for each player

In [34]:
df_merged_new.columns

Index(['Unnamed: 0', 'name', 'assists', 'attempted_passes',
       'big_chances_created', 'big_chances_missed', 'bonus', 'bps',
       'clean_sheets', 'clearances_blocks_interceptions', 'completed_passes',
       'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fixture',
       'fouls', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'influence', 'key_passes', 'kickoff_time', 'kickoff_time_formatted',
       'loaned_in', 'loaned_out', 'minutes', 'offside', 'open_play_crosses',
       'opponent_team', 'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'recoveries', 'red_cards', 'round', 'saves',
       'selected', 'tackled', 'tackles', 'target_missed', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'winning_goals',
       'yellow_cards', 'GW', 'season_x', 'position', 'team', 'xP',
       'expected_assists', 'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts'],
      dtype='object')

In [43]:
# Creating the new field for home win, away win or draw 
# Defining conditions for each outcome
conditions = [
    (df_merged_new['team_a_score'] < df_merged_new['team_h_score']),  # Home Win
    (df_merged_new['team_a_score'] > df_merged_new['team_h_score']),  # Away Win
    (df_merged_new['team_a_score'] == df_merged_new['team_h_score']), # Draw
    # Add an additional condition to cover all cases
    (~df_merged_new['team_a_score'].isna()) & (~df_merged_new['team_h_score'].isna())  # Missing data
]

# Define corresponding values for each condition
values = ['WIN', 'LOSS', 'Draw', 'Unknown']

# Use np.select() to create the new column based on conditions
df_merged_new['result'] = np.select(conditions, values, default='Unknown')
df_merged_new['opponent_team']
df_merged_new.columns

Index(['Unnamed: 0', 'name', 'assists', 'attempted_passes',
       'big_chances_created', 'big_chances_missed', 'bonus', 'bps',
       'clean_sheets', 'clearances_blocks_interceptions', 'completed_passes',
       'creativity', 'dribbles', 'ea_index', 'element',
       'errors_leading_to_goal', 'errors_leading_to_goal_attempt', 'fixture',
       'fouls', 'goals_conceded', 'goals_scored', 'ict_index', 'id',
       'influence', 'key_passes', 'kickoff_time', 'kickoff_time_formatted',
       'loaned_in', 'loaned_out', 'minutes', 'offside', 'open_play_crosses',
       'opponent_team', 'own_goals', 'penalties_conceded', 'penalties_missed',
       'penalties_saved', 'recoveries', 'red_cards', 'round', 'saves',
       'selected', 'tackled', 'tackles', 'target_missed', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'winning_goals',
       'yellow_cards', 'GW', 'season_x', 'position', 'team', 'xP',
       'expected_assists', 'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'starts', 'result', 'Team_Opp'],
      dtype='object')

In [46]:
df_merged_new['Team_Opp'] = df_merged_new['team'] + ' - ' + df_merged_new['opponent_team'].astype(str)
df_new = df_merged_new.drop(columns=['name'])

agg_funcs = {
    col: 'max' for col in df_merged_new.columns if col not in ['season_x', 'name', 'position', 'team', 'opponent_team', 'GW', 'Team_Opp']
}

df_new_group = df_new.groupby(['Team_Opp', 'season_x']).agg(agg_funcs).reset_index()
df_new_group.columns

,Team_Opp,season_x,Unnamed: 0,assists,attempted_passes,big_chances_created,big_chances_missed,bonus,bps,clean_sheets,...,was_home,winning_goals,yellow_cards,xP,expected_assists,expected_goal_involvements,expected_goals,expected_goals_conceded,starts,result
0,Arsenal - 1,2016-17,21891,0,48.0,1.0,0.0,0,23,0,...,True,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,WIN
1,Arsenal - 1,2017-18,43914,0,63.0,0.0,1.0,0,20,1,...,True,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,WIN
2,Arsenal - 10,2016-17,14980,1,54.0,1.0,0.0,3,32,0,...,True,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,WIN
3,Arsenal - 10,2017-18,43012,1,83.0,1.0,0.0,3,46,0,...,True,1.0,1,NaN,NaN,NaN,NaN,NaN,NaN,WIN
4,Arsenal - 10,2020-21,104943,1,NaN,NaN,NaN,3,56,1,...,True,NaN,0,7.8,NaN,NaN,NaN,NaN,NaN,WIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2553,Wolves - 9,2017-18,45138,0,47.0,0.0,0.0,0,17,0,...,True,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,LOSS
2554,Wolves - 9,2020-21,104145,0,NaN,NaN,NaN,3,26,1,...,True,NaN,1,6.0,NaN,NaN,NaN,NaN,NaN,WIN
2555,Wolves - 9,2021-22,130714,1,NaN,NaN,NaN,2,26,0,...,True,NaN,1,10.9,NaN,NaN,NaN,NaN,NaN,WIN
2556,Wolves - 9,2022-23,156232,1,NaN,NaN,NaN,3,43,1,...,True,NaN,1,9.0,0.19,0.42,0.34,0.47,1.0,Draw
2557,Wolves - 9,2023-24,181288,1,NaN,NaN,NaN,3,51,1,...,True,NaN,1,6.0,0.45,1.13,0.94,1.20,1.0,WIN

In [48]:
def fill_nan(x):
    if x.dtype == 'float64' or x.dtype == 'int64':
        return x.fillna(x.mean())
    else:
        return x.fillna(x.mode()[0])

# Removing the null values
df_final = df_new_group.apply(fill_nan)

df_final.to_csv("Training_data_v2.0")