In [78]:
import pandas as pd
import numpy as np
import os

In [79]:

# Team list dataset
master_team_list = 'master_team_list.csv'

#File path of player based stats
file_path_16_17 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2016-17\gws\merged_gw.csv'
file_path_17_18 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2017-18\gws\merged_gw.csv'
file_path_18_19 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2018-19\gws\merged_gw.csv'
file_path_19_20 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2019-20\gws\merged_gw.csv'
file_path_20_21 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2020-21\gws\merged_gw.csv'
file_path_21_22 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2021-22\gws\merged_gw.csv'
file_path_22_23 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2022-23\gws\merged_gw.csv'
file_path_23_24 = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2023-24\gws\merged_gw.csv'

#File path for player team name
file_path_16_17_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2016-17\players_raw.csv'
file_path_17_18_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2017-18\players_raw.csv'
file_path_18_19_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2018-19\players_raw.csv'
file_path_19_20_raw = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2019-20\players_raw.csv'


df_16_17 = pd.read_csv(file_path_16_17, encoding='latin1')
df_16_17['season_x'] = '2016-17'
df_17_18 = pd.read_csv(file_path_17_18, encoding='latin1')
df_17_18['season_x'] = '2017-18'
df_18_19 = pd.read_csv(file_path_18_19, encoding='latin1')
df_18_19['season_x'] = '2018-19'
df_19_20 = pd.read_csv(file_path_19_20, encoding='latin1')
df_19_20['season_x'] = '2019-20'
df_20_21 = pd.read_csv(file_path_20_21, encoding='latin1')
df_20_21['season_x'] = '2020-21'
df_21_22 = pd.read_csv(file_path_21_22, encoding='latin1')
df_21_22['season_x'] = '2021-22'
df_22_23 = pd.read_csv(file_path_22_23, encoding='latin1')
df_22_23['season_x'] = '2022-23'
df_23_24 = pd.read_csv(file_path_23_24, encoding='latin1')
df_23_24['season_x'] = '2023-24'


df_16_17_raw = pd.read_csv(file_path_16_17_raw, encoding='latin1')
df_16_17_raw['season_x'] = '2016-17'
df_17_18_raw = pd.read_csv(file_path_17_18_raw, encoding='latin1')
df_17_18_raw['season_x'] = '2017-18'
df_18_19_raw = pd.read_csv(file_path_18_19_raw, encoding='latin1')
df_18_19_raw['season_x'] = '2018-19'
df_19_20_raw = pd.read_csv(file_path_19_20_raw, encoding='latin1')
df_19_20_raw['season_x'] = '2019-20'

In [80]:
df_2016_20 = pd.concat([df_16_17,df_17_18, df_18_19, df_19_20])
df_2016_20_raw = pd.concat([df_16_17_raw, df_17_18_raw, df_18_19_raw, df_19_20_raw])

In [81]:
df_2016_20_raw['name'] = df_2016_20_raw['first_name'] + " " + df_2016_20_raw['second_name']
df_2016_20_raw = df_2016_20_raw[['season_x', 'name', 'team']]
df_2016_20_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2620 entries, 0 to 665
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   season_x  2620 non-null   object
 1   name      2620 non-null   object
 2   team      2620 non-null   int64
dtypes: int64(1), object(2)
memory usage: 81.9+ KB

In [82]:
#Importing team list

df_master_team_list = pd.read_csv('Data\data\master_team_list.csv')

In [83]:
df_master_team_list.head()

    season  team       team_name
0  2016-17     1         Arsenal
1  2016-17     2     Bournemouth
2  2016-17     3         Burnley
3  2016-17     4         Chelsea
4  2016-17     5  Crystal Palace

In [89]:
# Mapping the team name using team code

df_2016_20_raw['id'] = df_2016_20_raw['season_x'] + df_2016_20_raw['team'].astype(str)
df_master_team_list['id'] = df_master_team_list['season'] + df_master_team_list['team'].astype(str)

In [92]:
removeing_season = ['2020-21', '2021-22','2022-23', '2023-24']
filt = df_master_team_list['season'].isin(removeing_season)
df_master_team_list.drop(index=df_master_team_list[filt].index)

     season  team       team_name         id
0   2016-17     1         Arsenal   2016-171
1   2016-17     2     Bournemouth   2016-172
2   2016-17     3         Burnley   2016-173
3   2016-17     4         Chelsea   2016-174
4   2016-17     5  Crystal Palace   2016-175
..      ...   ...             ...        ...
75  2019-20    16     Southampton  2019-2016
76  2019-20    17           Spurs  2019-2017
77  2019-20    18         Watford  2019-2018
78  2019-20    19        West Ham  2019-2019
79  2019-20    20          Wolves  2019-2020

[80 rows x 4 columns]

In [94]:

#mapping the team name using team_id
df_player_team_naem = pd.merge(df_2016_20_raw, df_master_team_list, on = 'id', how='left')

In [95]:
df_player_team_naem

,season_x,name,team_x,id,season,team_y,team_name
0,2016-17,David Ospina,1,2016-171,2016-17,1,Arsenal
1,2016-17,Petr Cech,1,2016-171,2016-17,1,Arsenal
2,2016-17,Laurent Koscielny,1,2016-171,2016-17,1,Arsenal
3,2016-17,Per Mertesacker,1,2016-171,2016-17,1,Arsenal
4,2016-17,Gabriel Armando de Abreu,1,2016-171,2016-17,1,Arsenal
...,...,...,...,...,...,...,...
2615,2019-20,Oskar Buur,20,2019-2020,2019-20,20,Wolves
2616,2019-20,Ryan Giles,20,2019-2020,2019-20,20,Wolves
2617,2019-20,Bruno AndrÃ© Cavaco Jordao,20,2019-2020,2019-20,20,Wolves
2618,2019-20,Daniel Castelo Podence,20,2019-2020,2019-20,20,Wolves
2619,2019-20,Leonardo Campana,20,2019-2020,2019-20,20,Wolves

In [38]:
player.head()

   second_name       first_name  team                      name
0       Ospina            David     1              David Ospina
1         Cech             Petr     1                 Petr Cech
2    Koscielny          Laurent     1         Laurent Koscielny
3  Mertesacker              Per     1           Per Mertesacker
4     de Abreu  Gabriel Armando     1  Gabriel Armando de Abreu

In [42]:
df_2016_17['name'] = df_2016_17['name'].str.replace('_', ' ')

In [43]:
df_2016_17['name']

0           Aaron Cresswell
1              Aaron Lennon
2              Aaron Ramsey
3        Abdoulaye Doucouré
4         Abdul Rahman Baba
                ...
23674          Yohan Cabaye
23675         Younes Kaboul
23676    Zlatan Ibrahimovic
23677        Álvaro Arbeloa
23678        Álvaro Negredo
Name: name, Length: 23679, dtype: object