In [7]:
import pandas as pd

In [12]:
path = r'C:\Drive D\Downloads\Lambton College\Semester 2\AI\Project\Football_Match_Prediction\Football-Match-Prediction\Data\data\2016-17\players_raw.csv'

In [13]:
df = pd.read_csv(path)

In [17]:
data = df[['first_name', 'second_name', 'team']].groupby(['first_name', 'second_name', 'team'])
data.head()

          first_name  second_name  team
0              David       Ospina     1
1               Petr         Cech     1
2            Laurent    Koscielny     1
3                Per  Mertesacker     1
4    Gabriel Armando     de Abreu     1
..               ...          ...   ...
678              Sam     Surridge     2
679            Angel        Gomes    11
680           Kieran       O'Hara    11
681          Gerhard      Tremmel    16
682             Rene    Gilmartin    18

[683 rows x 3 columns]